# If-elif programs

In [3]:
# 1)write a program to check given number is positive, negative or zero

a = int(input("Enter"))

if a < 0:
    print('Negative')
elif a > 0:
    print('Positive')
else:
    print('zero')

Enter -1

Negative

In [5]:
#2) write a program to calculate the grade based on a student's score

mark = int(input("Enter"))
if mark > 95:
    print('A')
elif mark > 80 and mark < 95 :
    print("B")#
elif mark > 70 and mark < 80:
    print('C')

Enter 85

B

In [8]:
#3)find the greatest of 3 numbers

a = 5
b = 6
c = 19

if a > b and a > c:
    print('A')
elif b > a and b > c:
    print('B')
else:
    print('C')

C

In [20]:
#4) A program that asks the user to enter their age and prints a message based on whether they are a child, teenager, adult, or senior citizen

age = int(input("Enter "))

if age > 60:
    print('Senior')
elif age >= 20 and age < 60:
    print('Adult')
elif age < 20 and age >=15:
    print('Teen')
else:
    print('Child')

Enter  10

Child

In [24]:
#5) write a program that calculates an employee's bonus based on their performance rating.

rating = int(input('Enter'))
sal = int(input("Enter"))

if rating > 8:
    sal = sal * 1.5
elif rating > 5:
    sal = sal * 1.2
else :
    sal = sal
print(sal)

Enter 9
Enter 100

150.0

In [26]:
# 6) Calculate BMI based on BMI value display the conditions

h = int(input('Enter'))
w = int(input('Enter'))

bmi = h/w

if bmi > 26:
    print('obese')
else:
    print('Normal')

Enter 7
Enter 56

Normal

In [40]:
#7) Input any number find out is it single digit or double digit or triple digit number ex input is 22 print two digit number

num = int(input())

if num <= 9:
    print('single digit')
elif num <= 99 and num >= 10:
    print('double digit')
else:
    print('triple digit')

 9

single digit

In [65]:
#8) Display total salary after commission. Basic_salary is 8000.
#If Sales_made  greater than 10000 give 5% commission on basic salary 
#if its greater that 5000 then give 3% commission else no commission 

basic_salary = 8000
sales_made = int(input('Enter sale'))
if sales_made > 10000:
    commission = 0.05 * basic_salary
elif sales_made > 5000:
    commission = 0.03 * basic_salary
else:
    commission = 0

total_salary = basic_salary + commission

print(total_salary)

Enter sale 1000

8000

In [66]:
#9)write  program that asks the user for their account balance and prints a message based on 
#whether they have a positive or negative balance.

act_bal = int(input('Enter'))

if act_bal > 1:
    print('Positive_balance')
else:
    print('Negative balance')

Enter 1000

Positive_balance

In [72]:
#10)Display the Bus charges by considering the age of personâ€¦if person AGE > 65 give 25% discount on the price of ticket. 
#Below 5 years no bus charge
ticket_price = 100
age =  int(input('Enter'))

if age > 65:
    charges = ticket_price * 0.75
elif age < 5:
    charges = 0
else:
    charges = ticket_price

print(charges)

Enter 77

75.0

# Termination in loop

In [77]:
#1)Write a program to display all the character except t and o
st = 'Python'

for i in st:
    if i == 't':
        continue
    elif i == '0':
        continue
    print(i, end='')

Pyhon

In [83]:
# 2)Write a program to iterate the integer from 1 to 25 
# a)if no completely divide by 4 and 5 then print "zigzog"
# b)if no completely divide by 4 and not by 5 print "zig"
# c)if no completely divide by not by 4 and by 5 print "zog"
# d)not by any number print the number

for i in range(1,26):
    if i%4==0 and i%5 == 0:
        print('zigzog')
    elif i % 4 == 0 and i % 4 != 0:
        print('Zig')
    elif i % 4 != 0 and i % 5 == 0:
        print('zog')
    else:
        print(i)

1
2
3
4
zog
6
7
8
9
zog
11
12
13
14
zog
16
17
18
19
zigzog
21
22
23
24
zog

In [84]:
#3)Based on user input month display how many days are there on particular month

days_in_month = {
    "January": 31, "February": 28, "March": 31, "April": 30,
    "May": 31, "June": 30, "July": 31, "August": 31,
    "September": 30, "October": 31, "November": 30, "December": 31
}

user_input = input("Enter the month name or number (1-12): ")
if user_input.isdigit():
    month = int(user_input)
    if 1 <= month <= 12:
        month_name = list(days_in_month.keys())[month - 1]
        print(f"{month_name} has {days_in_month[month_name]} days.")
    else:
        print("Invalid month number. Please enter a number between 1 and 12.")
else:
    month_name = user_input.capitalize()
    if month_name in days_in_month:
        print(f"{month_name} has {days_in_month[month_name]} days.")
    else:
        print("Invalid month name. Please enter a valid month.")

Enter the month name or number (1-12):  2

February has 28 days.

In [86]:
#4)check the given no is prime or not

number = int(input("Enter a number "))

if number <= 1:
    print(f"{number} is not a prime number.")
else:
    is_prime = True

    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")

Enter a number  6

6 is not a prime number.

In [88]:
# #5)write a program to check the number is armstrong or not
# Armstrong number is a number that is equal to the sum of cubes of its digits. 
# For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers

number = int(input("Enter a number  "))

temp = number
sum_of_cubes = 0

while temp > 0:
    digit = temp % 10
    sum_of_cubes += digit ** 3
    temp //= 10

if number == sum_of_cubes:
    print("Armstrong number.")
else:
    print("not an Armstrong number.")

Enter a number   1

Armstrong number.

In [92]:
#6)print largest and smallest no in list

a = [1,2,3,4,5]

if a:
    largest = max(a)
    smallest = min(a)
    print(smallest)
    print(largest)
else:
    print('empty')

1
5

In [98]:
#7)print sum of nested loops
li = [[1,2,3],[4,5,6],[7,8,9]]
su = 0

for i in li:
    for j in i:
        su = su+j

print(su)

45

In [101]:
#8)if list contain string the reverse the string and print other data type print as it is
li = ['python',1,2,"123",3+4j,"java"]
for item in li:
    if isinstance(item, str):
        reversed_string = item[::-1]
        print(reversed_string)
    else:
        print(item)

nohtyp
1
2
321
(3+4j)
avaj

In [103]:
#9)Check the 2 given string is anagram
string1 = "cat"
string2 = "ate"

str1 = string1.replace(" ", "").lower()
str2 = string2.replace(" ", "").lower()
sorted(str1) == sorted(str2)

False

In [108]:
#10) display how many string elements in a list
li = ['python',1,2,"123",3+4j,"java"]

cnt = 0

for i in li:
    if isinstance(i,str):
        cnt = cnt+1
        continue

print(cnt)

3

# Nested if else programs

In [110]:
#1)Check the given year is leap year or not

year = int(input("Enter a year  "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 ==0 ):
    print('leap year')
else:
    print('Not')

Enter a year   2021

Not

In [115]:
# 2)Write a program that calculates the salary of an employee based on their position and years of experience.
# a) Manager yoe>5 then 50000 salary else 40000
# b)Engineer yoe>4 then 40000 salary else 30000

pos = input('Enter pos')
yoe = int(input('Enter yoe'))

if pos.lower() == "manager":
    if yoe > 5:
        salary = 50000
    else:
        salary = 4000
elif pos.lower() == 'engineer':
    if yoe > 4:
        salary = 40000
    else:
        salary = 30000

print(salary)

Enter pos engineer
Enter yoe 7

40000

In [12]:
# 3)write a program to give based regular customer and premium customer
# a)regular customer if purchase amount is less than 1000rs no discount greater than 1000 means give 15% discount
# b)Premium customer if purchase amount is less than 1000rs give 20% discount greater than 1000 means give 30% discount

cust = input("Regular or Premium: ").lower()
purchase_amount = int(input("Amount: "))
discount = 0
if cust == 'Regular':
    if purchase_amount <1000:
        discount = 0
    else:
        discount = 0.15 * purchase_amount
elif cust == 'Premium':
    if purchase_amount < 1000:
        discount = 0.20 * purchase_amount
    else:
        discount = 0.30 * purchase_amount

final_amount = purchase_amount - discount
print(final_amount)

Regular or Premium:  regular
Amount:  999

999

In [14]:
# 4)Enter a subject mark display his/her performance based on the marks
# a)marks should be greater than 0 and less than 100
# b)marks less than 50 then fail
# c)marks >= 50 then grade
# i)50-60 "good"
# ii)60-80 "very good"
# iii)80 above "excellent"

marks = float(input("Enter the subject mark: "))

if marks >= 0 and marks <= 100:
    if marks < 50:
        print("Fail")
    else:
        if marks >= 50 and marks < 60:
            print("Good")
        elif marks >= 60 and marks < 80:
            print("Very Good")
        elif marks >= 80:
            print("Excellent")
else:
    print("Invalid marks.")

Enter the subject mark:  90

Excellent

In [20]:
# 5)we have a product called "Widget" and a price per unit of $10. 
# We want to calculate the total price with any applicable discounts based on the quantity.
# First checks if the product is a "Widget". If it is, then quantity to determine the appropriate discount. 
# If the quantity is greater than 1000, we apply a discount of 20%. 
# If the quantity is greater than 500 but less than or equal to 1000, we apply a discount of 10%. Otherwise, 
# if the quantity is less than or equal to 500, we apply no discount.

product = input("Enter the product name: ").lower()
price_per_unit = 10 

if product == 'widget':
    quantity = int(input("Enter the quantity: "))
    if quantity > 1000:
        discount = 0.20  
    elif quantity > 500:
        discount = 0.10  
    else:
        discount = 0 

    total_price = quantity * price_per_unit
    discount_amount = total_price * discount
    final_price = total_price - discount_amount
    print(final_price)

else:
    print("only calculates the price for'Widget'.")

Enter the product name:  widget
Enter the quantity:  20

200

# For loop

In [24]:
# 1) use the for loop
#    use this range(25,500,5)
#    use break when the value is 225
#    till then sum all the numbers generated, find the avg also

total_sum = 0
count = 0

for number in range(25,500,5):
    if i == 225:
        break
    total_sum += number
    count = count + 1

average = total_sum / count if count != 0 else 0


print(total_sum)
print(average)

24700
260.0

In [25]:
#2)Calculate the square of each number of list ex = [1,2,3,4] 

ex = [1,2,3,4] 

for i in ex:
    print(i**2)

1
4
9
16

In [30]:
#3)calculate li = [25,67,88,45,75] sum and avg 

li = [25,67,88,45,75]
su = 0
avg = 0

for i in li:
    su = su + i
avg = su/len(li)

print(su)
print(avg)

300
60.0

In [33]:
# 4) use for loop - input any 10 numbers
#    find out the sum and avg of ODD numbers 
#    consider ODD numbers which are less than 441
#    if the inputted number is above 441 like 551 1001 - ignore them

odd_sum = 0
odd_count = 0

for i in range(10):
    number = int(input(f"Enter number {i+1}: "))
    if number < 441 and number % 2 != 0:
        odd_sum += number
        odd_count += 1

odd_avg = odd_sum / odd_count if odd_count != 0 else 0

print(f"Sum of odd numbers less than 441: {odd_sum}")
print(f"Average of odd numbers less than 441: {odd_avg:.2f}")

Enter number 1:  34
Enter number 2:  34
Enter number 3:  65
Enter number 4:  67
Enter number 5:  5
Enter number 6:  44
Enter number 7:  66
Enter number 8:  44
Enter number 9:  65
Enter number 10:  65

Sum of odd numbers less than 441: 267
Average of odd numbers less than 441: 53.40

In [35]:
#4)display all the even number in range 10 to 50

for i in range(10,51):
    if i % 2 == 0:
        print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [36]:
#5) use for loop range() display all the numbers from 35 to 60

for i in range(35,66):
    print(i,end = " ")

35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65

In [43]:
#5)Count how many 'P' characters are there in a given string string = 'Python is Programming language'

st = 'Python is Programming language'
count = 0
for i in st:
    if i.lower() == 'p':
        count = count +1

print(count)

2

In [44]:
#6) use for loop range() display all the numbers from 135 to 200 , step value is 4 

for i in range(135,200,4):
    print(i,end = " ")

135 139 143 147 151 155 159 163 167 171 175 179 183 187 191 195 199

In [46]:
# 6)print list in reverse order

a = []
for i in range(1,11):
    a.append(i)
    a.reverse()

print(a)

[10, 8, 6, 4, 2, 1, 3, 5, 7, 9]

In [48]:
# 7) use for loop range()
#    display all the numbers from 50 to -33
#    step value -6
#    sum the printed number
su = 0

for i in range(50,-33,-6):
    su = su + i

print(su)

154

In [49]:
#7)Convert Upper to lower lower to upper case in a string if it is a number or spl character print as it is

a = 'hello PyTh@1'
converted_string = ""
for char in a:
    if char.isupper():
        converted_string += char.lower()
    elif char.islower():
        converted_string += char.upper()
    else:
        converted_string += char

print("Converted string:", converted_string)

Converted string: HELLO pYtH@1

In [50]:
# 8) use for loop range()
#    display all the numbers from 50 to 135
#    step value 3
#    sum all the EVEN numbers
#    50 53 56 59 62 65 68 71 74 77 80 .....and so one 

su = 0

for i in range(50,135,3):
    if i % 2 == 0:
        su = su +i

print(su)

1380

In [51]:
# 8)Count how many Vowels and consonants in a string

a = "Hey how are you"

vow = 0
conso = 0

for i in a:
    if i.lower() in "aeiou":
        vow = vow + 1
    else:
        conso = conso + 1

print(vow)
print(conso)

6
9

In [52]:
# 9)input 5 numbers, if entered number is in the range of 15 to 30 then add those numbers else count the numbers which are not in range 15 to 30

sum_in_range = 0
count_out_of_range = 0

for i in range(5):
    number = int(input(f"Enter number {i + 1}: "))
    
    if 15 <= number <= 30:
        sum_in_range += number
    else:
        count_out_of_range += 1

print(f"Sum of numbers in the range 15 to 30: {sum_in_range}")
print(f"Count of numbers not in the range 15 to 30: {count_out_of_range}")

Enter number 1:  34
Enter number 2:  32
Enter number 3:  24
Enter number 4:  13
Enter number 5:  32

Sum of numbers in the range 15 to 30: 24
Count of numbers not in the range 15 to 30: 4

In [54]:
# 10)print multiplication table based on the user input
num = int(input('Enter'))
for i in range(1,11):
    print(f"{i} x {num} = {i*num} ")

Enter 5

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50