# Trial coding

## Interview

In [8]:
# Sum all the two digit odd number. Print the total and the avg
data1 = (12,44,78,90,11,231,50,67,121)

total_sum = 0
count = 0

for i in data1:
    if 10 <= i < 100 and i % 2 != 0:
        total_sum = total_sum + i
        count = count + i

avg = total_sum/count if count != 0 else 0

print(total_sum)
print(avg)

78
1.0

In [11]:
# Use filter and lambda to solve this 
# data1 = {10,73,151,7,55,41,65,117,75,70,19,29,39,100,40,200,44,18}
# sum all the numbers in the range of 40 to 70 (both the range NOT inclusive)

data1 = {10, 73, 151, 7, 55, 41, 65, 117, 75, 70, 19, 29, 39, 100, 40, 200, 44, 18}


o = list(filter(lambda x:40<x<70,data1))
print(sum(o))

205

In [13]:
# Using the loop display the following 
# 12
# 13 14
# 15 16 17
# 18 19 20 21

num = 12

for i in range(1,5):
    for j in range(i):
        print(num,end = " ")
        num = num +1
    print()

12
13 14
15 16 17
18 19 20 21

In [17]:
#process the above data1 and find the name which is having maximum length and display its position in the data1

data1 = ["Surya", "Avinash", "Jaya", "Uday Kumar", "Anu", "Palani", "Vinu"]

max_length = 0
max_position = -1
max_name = ""

for index,name in enumerate(data1):
    if len(name) > max_length:
        max_length = len(name)
        max_position = index
        max_name = name

print(f"Name with maximum length: {max_name}")
print(f"Position in data1: {max_position}")

Name with maximum length: Uday Kumar
Position in data1: 3

In [20]:
# print (data1[10])
# write the code to handle the exception in this (if any)

data1 = [17,189,90,4,117,28]

try:
    print(data1[10]) 
except IndexError as e:
    print(f"Error: {e}. The index is out of range.")

Error: list index out of range. The index is out of range.

In [22]:
#create a new dictionary which add all the contents of dict1 and dict2

dict1 = { 100 : 'Arun', 200 : 'Vijay', 345 : 'Kiran'}
dict2 = {500:'Vani', 181: 'Ramesh' }

dic = dict1.copy()
dic.update(dict2)

print(dic)

{100: 'Arun', 200: 'Vijay', 345: 'Kiran', 500: 'Vani', 181: 'Ramesh'}

In [28]:
# given data1 = ""Bangalore 120 Mysore 35 Hassan 117 Managlore 231 Mandya 50 Bijapur 116""
# process the string and sum all the numbers as available in the string


data1 = "Bangalore 120 Mysore 35 Hassan 117 Mangalore 231 Mandya 50 Bijapur 116"

ele = data1.split()
su = 0

for i in ele:
    if i.isdigit():
        su = su + int(i)

print(su)

669

In [29]:
# use map ,lambda to solve this
# incr_percentage = 4
# modify all the numbers in the data1 by the incr_percentage meaning (say) 100 should become 104


data1=[15,50,100,20,35,80]
incr_percentage = 4


l = list(map(lambda x:x+(x*incr_percentage/100),data1))
print(l)

[15.6, 52.0, 104.0, 20.8, 36.4, 83.2]

In [33]:
# use the while loop to display all the numbers in the given start range and end range with a step value
# For example start range is 45 , end range is 123 and step value is 5
# sum all the displayed number and print the total

total = 0

for i in range(45,123,5):
    total = total + i
print(total)

1320