In [7]:
# Print integers in a list li = [1,'java',2.3,'5',5,'python']

li = [1,'java',2.3,'5',5,'python']

for i in li:
    if  isinstance(i,int):
        print(i)
    elif isinstance(i,float):
        print(i)

1
2.3
5

In [11]:
my_list = [1,2,3,4,5]

for i in range(len(my_list)):
    print(i,my_list[i])

0 1
1 2
2 3
3 4
4 5

In [98]:
l = ['axa','amma','xyz','1221']

for i in l:
    if i[0] == i[-1]:
        print(i)

axa
amma
1221

In [ ]:
tu = (1, 2, 3, 2, 4, 3, 5)
du = []

In [16]:
s = 'hi how are you'
count = 0
for i in s:
    if i in 'aeiouAEIOU':
        count = count +1
print(count)

6

In [21]:
s = 'white'
if s == s[::-1]:
    print('yes')
else:
    print('no')

no

In [22]:
s[::-1]

'etihw'

In [49]:
s = 'white'

for i in s:
    if s.index(i)%2== 0:
        print(i)

w
i
e

In [65]:
s = 'hello'
st = set(s)
for i in st:
    print(s.count(i),i)

2 l
1 h
1 e
1 o

In [93]:
m = 'hello'
s = map(lambda x: m.count(x),m)
res = list(s)
print(res)

[1, 1, 2, 2, 1]

In [99]:
summ = lambda x,y : x+5

summ(5,6)

10

In [101]:
m = 'hello'

cnt = list(map(lambda x:m.count(x),m))

print(cnt)

[1, 1, 2, 2, 1]

In [109]:
persons = ['alfred', 'tabitha', 'william', 'arla']

z = list(map(str.upper,persons))

print(z)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [126]:
circle_areas = [6.56773, 9.57668, 4.00914, 56.24241, 9.01344, 32.00013]

z = list(map(round,circle_areas, range(1,7)))
print(z)

[6.6, 9.58, 4.009, 56.2424, 9.01344, 32.00013]

In [128]:
my_chars = ['a', 'b', 'c', 'd', 'e']
my_nums = [1,2,3,4,5]

z = list(zip(my_chars,my_nums))
print(z)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [130]:
# Filter
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65, 92, 85]

sco = list(filter(lambda x :x > 80,scores))
sco

[90, 88, 81, 92, 85]

In [131]:
myStrings = ("demigod", "rewire", "madam", "fortran", "python", "xamarin", "salas", "PHP")

rev = list(filter(lambda x :x == x[::-1],myStrings))
rev

['madam', 'salas', 'PHP']

In [133]:
from functools import reduce
myNumbers = [3, 4, 6, 9, 34, 12]

res = reduce(lambda x,y:x+y,myNumbers)
res

68

# Ibridge questions

## Set

In [134]:
set_ = {"python", "dad", "hai", "malayalam", "madam", "mom"}

In [135]:
set_.remove("hai")

In [136]:
set_

{'dad', 'madam', 'malayalam', 'mom', 'python'}

In [ ]:
st1 = "0101010101010"
st2 = '1200'

In [137]:
def is_binary_string(s):
    for char in s:
        if char not in '01':
            return "No"
    return "Yes"
st1 = "0101010101010"
st2 = '1200'

print(f"st1 = \"{st1}\" {is_binary_string(st1)}")
print(f"st2 = '{st2}' {is_binary_string(st2)}")

st1 = "0101010101010" Yes
st2 = '1200' No

In [138]:
sset1 = {'Rama','Dinga','Seetha','Radha'}

{'dad', 'hai', 'madam', 'malayalam', 'mom', 'python'}

In [139]:
set1 = {'Rama','Dinga','Seetha','Radha'}
set2 = {'Rama','swapna','Seetha','swathi'}

uniq = set1.difference(set2)
print(uniq)

{'Radha', 'Dinga'}

In [140]:
num1 = [1, 5, 10, 20, 40, 80]
num2 = [6, 7, 20, 80, 100]
num3 = [3, 4, 15, 20, 30, 70, 80, 120]

ns1 = set(num1)
ns2 = set(num2)
ns3 = set(num3)

cm = ns1.intersection(ns2,ns3)
print(cm)

In [143]:
num1 = {1, 5, 10, 20, 40, 80}
print('max ',max(num1))
print('min ',min(num1))

80

{20, 80}

In [145]:
set1 = {'Rama','Dinga','Seetha','Radha',1,3,4}


for i in list(set1):
    if isinstance(i,str):
        print(i)

Rama
Dinga
Radha
Seetha

In [146]:
set1 = {'Rama','Dinga','Seetha','Radha'}
set2 = {'Rama','swapna','Seetha','swathi'} 

common = set1.intersection(set2)

if len(common)>1:
    print(common)

{'Rama', 'Seetha'}

In [149]:
#Output : Missing values in list1 = {8, 7}          
#Additional values in list1 = {1, 2, 3} 

#Missing values in list2 = {1, 2, 3}          
#Additional values in list2 = {7, 8} 

list1 = [1, 2, 3, 4, 5, 6]
list2 = [4, 5, 6, 7, 8]

s1 = set(list1)
s2 = set(list2)


missing_val_list1 = s2-s1
print(missing_val_list1)

add_val_in_list1 = s1-s2
print(add_val_in_list1)

missing_val_list2 = s1-s2
print(missing_val_list2)

add_val_in_list2 = s2-s1
print(add_val_in_list2)

{8, 7}
{1, 2, 3}
{1, 2, 3}
{8, 7}

In [151]:
vowels = {'a', 'e', 'i', 'o', 'u'}
st = "hello, world!"
vowel_count = 0

for i in st.lower():
    if i in vowels:
        vowel_count  = vowel_count+1
print("no of vowels:", vowel_count)

no of vowels: 3

## Dict

In [154]:
#1)Reverse the values in the dictionary if the value is of type string

d = {"a": "hello", "b": 100, "c": 10.2, "d": "world","e":'121'}

for i in d.values():
    if isinstance(i,str):
        print(i[::-1])

olleh
dlrow
121

In [158]:
# 10)Input 5 students name and 5 students marks if they score 1. 
# score >= 90 : "A" 2. score >= 80 : "B" 3. score >= 70 : "C" 4. score >= 60 : "D" 4. score < 60 : "E"
# EXAMPLE
# NAME = 'joy'
# MARKS = [85,55,78,66,75]
# D = {'joy':'B'.............}
# show it in dictionary

stud_grade = {}
for i in range(5):
    name = input('enter name')
    mark = int(input('enter the marks'))


    if mark >= 90:
        grade = 'A'
    elif mark >= 80:
        grade = 'B'
    elif mark >= 70:
        grade = 'C'
    elif mark >= 60:
        grade = 'D'
    else :
        grade = 'E'

    stud_grade[name] = grade
print("Student Grades:", stud_grade)

enter name cb
enter the marks 76
enter name pb
enter the marks 87
enter name vm
enter the marks 76
enter name an
enter the marks 55
enter name pbs
enter the marks 78

Student Grades: {'cb': 'C', 'pb': 'B', 'vm': 'C', 'an': 'E', 'pbs': 'C'}

In [166]:
#create a dictionary with duplicate items and its count pair 
names = ["apple", "google", "gmail", "yahoo", "gmail", "apple", "gmail", "google"]
d = {}

for i in names:
    if i in d:
        d[i] = d[i]+1
    else:
        d[i] = 1
print(d)

{'apple': 2, 'google': 2, 'gmail': 3, 'yahoo': 1}

In [167]:
a = {'apple': 2, 'google': 2, 'gmail': 3, 'yahoo': 1}

b = {}

for key,value in a.items():
    b[value] = key
b

{2: 'google', 3: 'gmail', 1: 'yahoo'}

In [176]:
# 4)Create a dictionary for the range 10 store n as key square of n as value{1:1,2:3,3:9----------------10:10}


dt = {n: n**2 for n in range(1,11)}
dt

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [188]:
# 5)Reveres the values in dictionary if type of value is string, if integer add 10,if float keep as it is 
d = {"a": "hello", "b": 100, "c": 10.2, "d": "world","e":'121'}
dct = {}

for key,value in d.items():
    if isinstance(value,str):
        dct[key] = value[::-1]
    elif isinstance (value,int):
        dct[key] = value+10
    else:
        dct[key] = value
print(dct)

{'a': 'olleh', 'b': 110, 'c': 10.2, 'd': 'dlrow', 'e': '121'}

In [187]:
# 6)create a dictionary with duplicate word with count pair                                                                                                         
# string = "python is a language python program is easy"   
# # o/p = {'python':2,"is":2}

{'a': 'hello', 'b': 100, 'c': 10.2, 'd': 'world', 'e': '121'}

In [189]:
string = "python is a language python program is easy"

words = string.split()
word_counts = {}
for word in words:
        word_counts[word] = word_counts.get(word, 0) + 1
duplicates = {word: count for word, count in word_counts.items() if count > 1}
print("duplicate word counts:", duplicates)

duplicate word counts: {'python': 2, 'is': 2}

In [192]:
# Create a dictionary by using two lists                                                                                                                                       
l1 = ['a','b','c','d']
l2 = [1,2,3,4]

z = dict(zip(l1,l2))
print(z)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [193]:
# 8)Write a Python program to print all unique values in a dictionary.  
li = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
unique_values = set()
for d in li:
    for value in d.values():
        unique_values.add(value)
unique_values_list = list(unique_values)
print("Unique values:", unique_values_list)

Unique values: ['S005', 'S009', 'S002', 'S007', 'S001']

In [199]:
#9)Find sum of all the values in a dictionary                                                                                                                                 
Input = {'a': 100, 'b':200, 'c':300}

total_sum = sum(Input.values())
print(total_sum)

600