In [3]:
numbers_list = [23, 56, 12, 78, 45, 90, 34, 67, 89, 21]
numbers_tuple = tuple(numbers_list)

print("Numbers in the tuple:")
for Numbers in numbers_tuple:
    print(Numbers)
    
sorted_tuple = tuple(sorted(numbers_tuple, reverse=True))

if len(sorted_tuple) >= 2:
    highest = sorted_tuple[0]
    second_highest = sorted_tuple[1]
    
    print("Highest element:", highest)
    print("Second highest element:", second_highest)
else:
    print("Tuple must contain at least two elements to find highest and second-highest.")

Numbers in the tuple:
23
56
12
78
45
90
34
67
89
21
Highest element: 90
Second highest element: 89

enter any 10 numbers (use while) in a set
   if the inputted number is already there in set
   then ignore counting that number and re-enter NEW number
   after 10 numbers are entered, find the following
   total of all elements
   highest element, lowest element
   avg value
   (use max(),min(),sum() - ONLY for verification, write your onw logic)

In [7]:
numbers_set = set()

count = 0

while count <10:
    num = int(input('Enter the number {count +1}: '))
    
    if num not in numbers_set:
        numbers_set.add(num)
        count = count +1
    else:
        print("number already exists in the set. enter a new number.")
        
total = 0
highest = float('-inf')
lowest = float('inf')

for num in numbers_set:
    total = total+num
    if num > highest:
        highest = num
    if num < lowest:
        lowest = num
average = total / len(numbers_set)

print("\nResults:")
print("set of numbers:", numbers_set)
print("total of all numbers:", total)
print("highest numbers:", highest)
print("lowest numbers:", lowest)
print("average numbers:", average)

Enter the number {count +1}: 11
Enter the number {count +1}: 12
Enter the number {count +1}: 22
Enter the number {count +1}: 23
Enter the number {count +1}: 33
Enter the number {count +1}: 34
Enter the number {count +1}: 44
Enter the number {count +1}: 45
Enter the number {count +1}: 55
Enter the number {count +1}: 55
number already exists in the set. enter a new number.
Enter the number {count +1}: 67

Results:
set of numbers: {33, 34, 67, 11, 12, 44, 45, 55, 22, 23}
total of all numbers: 346
highest numbers: 67
lowest numbers: 11
average numbers: 34.6

 data1 = [56,12,89,10,12,5,99,19,89,56,11,11,5,20,25,56,17,29,4,5,10]
   how many unique elements are there
   find which numbers are duplicate
   replace all 12 with 13 and all 25 with 35 - when data1 is converted to set

In [10]:
data1 = [56, 12, 89, 10, 12, 5, 99, 19, 89, 56, 11, 11, 5, 20, 25, 56, 17, 29, 4, 5, 10]

unique_count = len(set(data1))

duplicates = []

for item in data1:
    if data1.count(item) > 1 and item not in duplicates:
        duplicates.append(item)
        
modified_set = set(data1)
modified_set.discard(12)
modified_set.discard(25)
modified_set.add(13)
modified_set.add(35)

print("number of unique elements:", unique_count)
print("duplicate numbers:", duplicates)
print("modified set after replacing 12 with 13 and 25 with 35:\n", modified_set)

number of unique elements: 13
duplicate numbers: [56, 12, 89, 10, 5, 11]
modified set after replacing 12 with 13 and 25 with 35:
 {99, 4, 5, 35, 10, 11, 13, 17, 19, 20, 56, 89, 29}

In [11]:
data_dict = {
    'blore': [12, 4, 5, 19],
    'Mysore': (2, 19, 135, 3, 49),
    'hubli': {22, 31, 4, 21, 31},
    'd1': {'mlore': [29, 32, 77, 2, 10, 4]},
    'd2': {'belgaum': (2, 5, 50, 9, 18, 29, 1)}
}

# Process the value part - sum all the numbers
result_dict = {}
for key, value in data_dict.items():
    if isinstance(value, list) or isinstance(value, tuple) or isinstance(value, set):
        result_dict[key] = sum(value)

# Calculate the average, highest, and lowest
avg_dict = {key: sum(value) / len(value) for key, value in data_dict.items() if isinstance(value, list)}
highest_dict = {key: max(value) for key, value in data_dict.items() if isinstance(value, (list, tuple, set))}
lowest_dict = {key: min(value) for key, value in data_dict.items() if isinstance(value, (list, tuple, set))}

# Find which key has the highest and lowest sum
highest_sum_key = max(result_dict, key=result_dict.get)
lowest_sum_key = min(result_dict, key=result_dict.get)

# Display the results
print("Sum of numbers for each key:", result_dict)
print("\nAverage for keys with lists:", avg_dict)
print("Highest value for each key:", highest_dict)
print("Lowest value for each key:", lowest_dict)
print("\nThe key with the highest sum:", highest_sum_key)
print("The key with the lowest sum:", lowest_sum_key)

Sum of numbers for each key: {'blore': 40, 'Mysore': 208, 'hubli': 78}

Average for keys with lists: {'blore': 10.0}
Highest value for each key: {'blore': 19, 'Mysore': 135, 'hubli': 31}
Lowest value for each key: {'blore': 4, 'Mysore': 2, 'hubli': 4}

The key with the highest sum: Mysore
The key with the lowest sum: blore

In [12]:
d3 = {'blore': [12, 4, 5, 19], 'Mysore': (2, 19, 135, 3, 49), 'hubli': {22, 31, 4, 21, 31},
      'mlore': [29, 32, 77, 2, 10, 4], 'belgaum': (2, 5, 50, 9, 18, 29, 1)}

total = 0
maxi = 0
mini = 0
place_maxi = ''
place_mini = ''

for x, y in d3.items():
    for i in y:
        if total == 0:
            maxi, mini = i, i
        if maxi <= i:
            maxi = i
            place_maxi = x
        if mini >= i:
            mini = i
            place_mini = x
        total = total + i

print('total = ', total)
print('maxi = ', maxi)
print('mini = ', mini)
print('key for maxi is ', place_maxi)
print('key for mini is ', place_mini)

total =  594
maxi =  135
mini =  1
key for maxi is  Mysore
key for mini is  belgaum

In [13]:
numbers_list = ['hari', True, 12, 78, 45, 90, 34, 67, 89, 21]
numbers_list.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [14]:
True>False

True

In [18]:
True == (not False)

True

In [20]:
'lal' <='la' +'l'

True

In [27]:
data = set()

count = 0
total = 0
high = float('-inf')
while count<5:
    n = int(input(" "))
    if n not in data:
        data.add(n)
        count = count+1
        total = total + n 
        if n>high:
            high = n
print()
print(total)
print(count)
print(high)

 55
 44
 56
 77
 65

297
5
77

In [40]:
d1 = {'si':[3,4]}
d2 = {'g':[3]}

In [60]:
d3 = {:['hari']}