In [5]:
import pandas as pd

!pip install boto3
-- Helps to connect aws with python

In [4]:
import boto3

In [6]:
s3 = boto3.resource(
    service_name = 's3',
    region_name = 'ap-south-1',
    aws_access_key_id = 'AKIAZQ3DUKK4OOM5VUWM',
    aws_secret_access_key = '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'
)

In [7]:
for bucket in s3.buckets.all():
    print(bucket.name)

pythonprojectat

 ### !pip install s3fs
which is a Pythonic file interface to Amazon S3, allowing you to interact with S3 objects as if they were local files.

In [9]:
df = pd.read_csv('output.csv')

In [11]:
df.head(2)

,months_as_customer,Years as customers,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,...,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,fraud_reported
0,328,27.3,48,521585,10/17/14,OH,250/500,1000,1406.91,0,...,YES,1,2,YES,71610,6510,13020,52080,Saab,Y
1,228,19.0,42,342868,06/27/06,IN,250/500,2000,1197.22,5000000,...,NO,0,0,NO,5070,780,780,3510,Mercedes,Y

## For Uploading into S3 bucket

In [12]:
df.to_csv('pys3test')

In [19]:
s3.Bucket('pythonprojectat').upload_file(Filename='pys3test',Key = 'pys3test')

In [20]:
for obj in s3.Bucket('pythonprojectat').objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='pythonprojectat', key='DataChurn.csv')
s3.ObjectSummary(bucket_name='pythonprojectat', key='pys3test')

## For accessing datas from S3

In [24]:
obj = s3.Bucket('pythonprojectat').Object('pys3test').get()

In [25]:
df2 = pd.read_csv(obj['Body'],index_col=0)

In [26]:
type(df2)

pandas.core.frame.DataFrame