In [44]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [45]:
df = pd.read_excel('input.xlsx')

In [46]:
df.head(2)

,Encounter_Date,Facility_Name,Appointment_Provider_Name,Patient_Account_Number,Visit,Category,Patient_Name,Financial_Class,Patient_Primary_Insurance_Name,Patient_Secondary_Insurance_Name,...,Procedure_Notes,Document_Section,GC_NGC,Status1,Status,Arrival_Status,POS,INS_SelfPay,Visit_Notes,client
0,2023-09-01,BARDSTOWN,"SHOWN NP, JOHNNA",3254894,BARDSTOWN3254894912023P,Respiratory,"MCCARTY, STELLA R",2-BCBS,BCBS ANTHEM,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN
1,2023-09-01,BARDSTOWN,"SHOWN NP, JOHNNA",3254894,BARDSTOWN3254894912023P,Respiratory,"MCCARTY, STELLA R",2-BCBS,BCBS ANTHEM,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Encounter_Date                    1000 non-null   datetime64[ns]
 1   Facility_Name                     1000 non-null   object
 2   Appointment_Provider_Name         1000 non-null   object
 3   Patient_Account_Number            1000 non-null   int64
 4   Visit                             1000 non-null   object
 5   Category                          1000 non-null   object
 6   Patient_Name                      1000 non-null   object
 7   Financial_Class                   1000 non-null   object
 8   Patient_Primary_Insurance_Name    1000 non-null   object
 9   Patient_Secondary_Insurance_Name  0 non-null      float64
 10  CPT_Code                          1000 non-null   object
 11  Modifier_1                        0 non-null      float64
 12  Modifier_2                        0 non-null      float64
 13  Modifier_3                        0 non-null      float64
 14  Visit_type                        1000 non-null   object
 15  ICD_Code_1                        975 non-null    object
 16  ICD_Code_2                        625 non-null    object
 17  ICD_Code_3                        360 non-null    object
 18  ICD_Code_4                        169 non-null    object
 19  ICD_Code_5                        64 non-null     object
 20  ICD_Code_6                        30 non-null     object
 21  ICD_Code_7                        21 non-null     object
 22  ICD_Code_8                        15 non-null     object
 23  ICD_Code_9                        4 non-null      object
 24  Units                             1000 non-null   int64
 25  Arrived_Time                      1000 non-null   object
 26  Departure_Time                    1000 non-null   object
 27  New_Patient                       1000 non-null   int64
 28  Encounter_Done_Status             0 non-null      float64
 29  Total_Time                        1000 non-null   object
 30  Procedure_Notes                   0 non-null      float64
 31  Document_Section                  0 non-null      float64
 32  GC_NGC                            1000 non-null   object
 33  Status1                           0 non-null      float64
 34  Status                            1000 non-null   object
 35  Arrival_Status                    1000 non-null   object
 36  POS                               0 non-null      float64
 37  INS_SelfPay                       0 non-null      float64
 38  Visit_Notes                       0 non-null      float64
 39  client                            0 non-null      float64
dtypes: datetime64[ns](1), float64(12), int64(3), object(24)
memory usage: 312.6+ KB

In [48]:
df.shape

(1000, 40)

In [49]:
df.ndim

2

In [50]:
df_null_percentage = ((df.isnull().sum()/len(df))*100).sort_values(ascending = False)
df_null_percentage

client                              100.0
Visit_Notes                         100.0
INS_SelfPay                         100.0
POS                                 100.0
Status1                             100.0
Document_Section                    100.0
Procedure_Notes                     100.0
Encounter_Done_Status               100.0
Patient_Secondary_Insurance_Name    100.0
Modifier_1                          100.0
Modifier_2                          100.0
Modifier_3                          100.0
ICD_Code_9                           99.6
ICD_Code_8                           98.5
ICD_Code_7                           97.9
ICD_Code_6                           97.0
ICD_Code_5                           93.6
ICD_Code_4                           83.1
ICD_Code_3                           64.0
ICD_Code_2                           37.5
ICD_Code_1                            2.5
Financial_Class                       0.0
Appointment_Provider_Name             0.0
Patient_Account_Number                0.0
Visit                                 0.0
Arrival_Status                        0.0
Status                                0.0
Category                              0.0
GC_NGC                                0.0
Patient_Name                          0.0
Patient_Primary_Insurance_Name        0.0
Total_Time                            0.0
New_Patient                           0.0
Departure_Time                        0.0
Arrived_Time                          0.0
Units                                 0.0
CPT_Code                              0.0
Visit_type                            0.0
Facility_Name                         0.0
Encounter_Date                        0.0
dtype: float64

In [51]:
df.duplicated().sum() # for finding duplicates

78

In [52]:
df.nunique().sort_values(ascending = False)

Visit                               356
Patient_Account_Number              349
Patient_Name                        349
Arrived_Time                        281
Departure_Time                      278
Total_Time                          129
ICD_Code_1                          123
ICD_Code_2                           86
CPT_Code                             55
ICD_Code_3                           54
Patient_Primary_Insurance_Name       46
ICD_Code_4                           28
Financial_Class                      18
Appointment_Provider_Name            17
Category                             15
ICD_Code_5                           14
Facility_Name                        11
ICD_Code_6                            6
Visit_type                            4
Status                                4
Arrival_Status                        4
ICD_Code_7                            4
ICD_Code_8                            2
New_Patient                           2
GC_NGC                                2
Encounter_Date                        1
Units                                 1
ICD_Code_9                            1
Encounter_Done_Status                 0
Modifier_3                            0
Procedure_Notes                       0
Document_Section                      0
Modifier_2                            0
Status1                               0
Modifier_1                            0
Patient_Secondary_Insurance_Name      0
POS                                   0
INS_SelfPay                           0
Visit_Notes                           0
client                                0
dtype: int64

In [53]:
df.columns

Index(['Encounter_Date', 'Facility_Name', 'Appointment_Provider_Name',
       'Patient_Account_Number', 'Visit', 'Category', 'Patient_Name',
       'Financial_Class', 'Patient_Primary_Insurance_Name',
       'Patient_Secondary_Insurance_Name', 'CPT_Code', 'Modifier_1',
       'Modifier_2', 'Modifier_3', 'Visit_type', 'ICD_Code_1', 'ICD_Code_2',
       'ICD_Code_3', 'ICD_Code_4', 'ICD_Code_5', 'ICD_Code_6', 'ICD_Code_7',
       'ICD_Code_8', 'ICD_Code_9', 'Units', 'Arrived_Time', 'Departure_Time',
       'New_Patient', 'Encounter_Done_Status', 'Total_Time', 'Procedure_Notes',
       'Document_Section', 'GC_NGC', 'Status1', 'Status', 'Arrival_Status',
       'POS', 'INS_SelfPay', 'Visit_Notes', 'client'],
      dtype='object')

In [54]:
df.dtypes

Encounter_Date                      datetime64[ns]
Facility_Name                               object
Appointment_Provider_Name                   object
Patient_Account_Number                       int64
Visit                                       object
Category                                    object
Patient_Name                                object
Financial_Class                             object
Patient_Primary_Insurance_Name              object
Patient_Secondary_Insurance_Name           float64
CPT_Code                                    object
Modifier_1                                 float64
Modifier_2                                 float64
Modifier_3                                 float64
Visit_type                                  object
ICD_Code_1                                  object
ICD_Code_2                                  object
ICD_Code_3                                  object
ICD_Code_4                                  object
ICD_Code_5                                  object
ICD_Code_6                                  object
ICD_Code_7                                  object
ICD_Code_8                                  object
ICD_Code_9                                  object
Units                                        int64
Arrived_Time                                object
Departure_Time                              object
New_Patient                                  int64
Encounter_Done_Status                      float64
Total_Time                                  object
Procedure_Notes                            float64
Document_Section                           float64
GC_NGC                                      object
Status1                                    float64
Status                                      object
Arrival_Status                              object
POS                                        float64
INS_SelfPay                                float64
Visit_Notes                                float64
client                                     float64
dtype: object

In [58]:
df['Total_Time'] = df['Total_Time'].astype('str')

In [60]:
df['Total_Time'] = df['Total_Time'].apply(lambda x : x.split('-')[-1])

In [62]:
df['Total_Time'] = pd.to_timedelta(df['Total_Time'])

In [63]:
df.dtypes

Encounter_Date                       datetime64[ns]
Facility_Name                                object
Appointment_Provider_Name                    object
Patient_Account_Number                        int64
Visit                                        object
Category                                     object
Patient_Name                                 object
Financial_Class                              object
Patient_Primary_Insurance_Name               object
Patient_Secondary_Insurance_Name            float64
CPT_Code                                     object
Modifier_1                                  float64
Modifier_2                                  float64
Modifier_3                                  float64
Visit_type                                   object
ICD_Code_1                                   object
ICD_Code_2                                   object
ICD_Code_3                                   object
ICD_Code_4                                   object
ICD_Code_5                                   object
ICD_Code_6                                   object
ICD_Code_7                                   object
ICD_Code_8                                   object
ICD_Code_9                                   object
Units                                         int64
Arrived_Time                                 object
Departure_Time                               object
New_Patient                                   int64
Encounter_Done_Status                       float64
Total_Time                          timedelta64[ns]
Procedure_Notes                             float64
Document_Section                            float64
GC_NGC                                       object
Status1                                     float64
Status                                       object
Arrival_Status                               object
POS                                         float64
INS_SelfPay                                 float64
Visit_Notes                                 float64
client                                      float64
dtype: object

,Encounter_Date,Facility_Name,Appointment_Provider_Name,Patient_Account_Number,Visit,Category,Patient_Name,Financial_Class,Patient_Primary_Insurance_Name,Patient_Secondary_Insurance_Name,...,Procedure_Notes,Document_Section,GC_NGC,Status1,Status,Arrival_Status,POS,INS_SelfPay,Visit_Notes,client
0,2023-09-01,BARDSTOWN,"SHOWN NP, JOHNNA",3254894,BARDSTOWN3254894912023P,Respiratory,"MCCARTY, STELLA R",2-BCBS,BCBS ANTHEM,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN
1,2023-09-01,BARDSTOWN,"SHOWN NP, JOHNNA",3254894,BARDSTOWN3254894912023P,Respiratory,"MCCARTY, STELLA R",2-BCBS,BCBS ANTHEM,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN
2,2023-09-01,BARDSTOWN,"SHOWN NP, JOHNNA",3254894,BARDSTOWN3254894912023M,Respiratory,"MCCARTY, STELLA R",1-Self Pay,SELF PAY,NaN,...,NaN,NaN,GC,NaN,CHARTING,Roomed,NaN,NaN,NaN,NaN
3,2023-09-01,BARDSTOWN,"SHOWN NP, JOHNNA",3254894,BARDSTOWN3254894912023M,Respiratory,"MCCARTY, STELLA R",1-Self Pay,SELF PAY,NaN,...,NaN,NaN,GC,NaN,CHARTING,Roomed,NaN,NaN,NaN,NaN
4,2023-09-01,BARDSTOWN,"SHOWN NP, JOHNNA",3591015,BARDSTOWN3591015912023P,Respiratory,"GREGORY, JAYLEN",RHC Medicaid,RHC/PASSPORT HEALTH,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023-09-01,FCBARDSTKY,"NIX NP, LYNN SHINAE",4057221,FCBARDSTKY4057221912023P,Respiratory,"DAUGHERTY, DESIREE",FC_BCBS,FC_BCBS ANTHEM,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN
996,2023-09-01,FCBARDSTKY,"NIX NP, LYNN SHINAE",4057226,FCBARDSTKY4057226912023P,Cardio,"HOLGUIN, DOROTHY",FC_Medicare,FC_BCBS ANTHEM MEDICARE,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN
997,2023-09-01,FCBARDSTKY,"NIX NP, LYNN SHINAE",4057226,FCBARDSTKY4057226912023P,Cardio,"HOLGUIN, DOROTHY",FC_Medicare,FC_BCBS ANTHEM MEDICARE,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN
998,2023-09-01,FCBARDSTKY,"NIX NP, LYNN SHINAE",3284336,FCBARDSTKY3284336912023P,Respiratory,"MYLES, JONATHAN EDWARD",FC_BCBS,FC_BCBS ANTHEM,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN
999,2023-09-01,FCBARDSTKY,"NIX NP, LYNN SHINAE",3284336,FCBARDSTKY3284336912023P,Respiratory,"MYLES, JONATHAN EDWARD",FC_BCBS,FC_BCBS ANTHEM,NaN,...,NaN,NaN,NGC,NaN,BILLED,Discharged,NaN,NaN,NaN,NaN