In [72]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [73]:
df_rej = pd.read_excel('Rejection.xlsx')

In [74]:
df_rej.head(2)

,Invoice_Number,Patient_LastName,Patient_FirstName,Provider_LastName,Service_Date,Insurance_Name,Claim_Amount,Insurance_Claim_ID,Reject_Date,Reject_By,Rejected_Code,Reject_Message,Status,Reason
0,9107776,JOHNSON,MELISSA,HENDERSON,2023-01-02,FC_WELLCARE/MEDICARE,631.0,2300610113368,2023-01-06,Clearinghouse,HU,INVALID REFERRING PROVIDER NPI,Outstanding,INVALID REFERRING PROVIDER NPI
1,9107775,SPEARS,STEPHANIE,HENDERSON,2023-01-02,FC_TRICARE EAST,256.0,2300610113377,2023-01-06,Clearinghouse,HU,INVALID REFERRING PROVIDER NPI,Outstanding,INVALID REFERRING PROVIDER NPI

In [104]:
df_rej.dtypes

Invoice_Number                 int64
Patient_pkey                  object
Patient_name                  object
Hashed_name                   object
Provider_LastName             object
Service_Date          datetime64[ns]
Insurance_Name                object
Claim_Amount                 float64
Insurance_Claim_ID             int64
Reject_Date           datetime64[ns]
Reject_By                     object
Rejected_Code                 object
Reject_Message                object
Status                        object
Reason                        object
Encrypted_Name                object
Decrypted_Name                object
dtype: object

In [75]:
df_rej.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Invoice_Number      1000 non-null   int64
 1   Patient_LastName    1000 non-null   object
 2   Patient_FirstName   1000 non-null   object
 3   Provider_LastName   1000 non-null   object
 4   Service_Date        1000 non-null   datetime64[ns]
 5   Insurance_Name      1000 non-null   object
 6   Claim_Amount        1000 non-null   float64
 7   Insurance_Claim_ID  1000 non-null   int64
 8   Reject_Date         1000 non-null   datetime64[ns]
 9   Reject_By           1000 non-null   object
 10  Rejected_Code       1000 non-null   object
 11  Reject_Message      1000 non-null   object
 12  Status              1000 non-null   object
 13  Reason              1000 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(2), object(9)
memory usage: 109.5+ KB

In [76]:
df_rej.shape

(1000, 14)

In [77]:
df_rej.ndim

2

In [78]:
df_rej.isnull().sum() # count of null values

Invoice_Number        0
Patient_LastName      0
Patient_FirstName     0
Provider_LastName     0
Service_Date          0
Insurance_Name        0
Claim_Amount          0
Insurance_Claim_ID    0
Reject_Date           0
Reject_By             0
Rejected_Code         0
Reject_Message        0
Status                0
Reason                0
dtype: int64

In [79]:
df_rej.duplicated().sum() # for finding duplicates

0

In [80]:
df_rej.nunique()

Invoice_Number        1000
Patient_LastName       647
Patient_FirstName      625
Provider_LastName      112
Service_Date            42
Insurance_Name          59
Claim_Amount           178
Insurance_Claim_ID    1000
Reject_Date            118
Reject_By                1
Rejected_Code           24
Reject_Message          38
Status                   1
Reason                  32
dtype: int64

In [81]:
df_rej.value_counts().sum() #For Unique values

1000

In [82]:
df_rej['Patient_name'] = df_rej['Patient_FirstName'] + " " + df_rej['Patient_LastName']

In [83]:
df_rej.drop('Patient_FirstName',axis=1,inplace=True)
df_rej.drop('Patient_LastName',axis=1,inplace=True)

In [84]:
import hashlib

In [85]:
def hash_name(name):
    return hashlib.sha3_256(name.encode()).hexdigest()

In [86]:
df_rej['Hashed_name'] = df_rej['Patient_name'].apply(hash_name)

In [87]:
df_rej['Hashed_name'].nunique()

922

In [88]:
 df_rej[df_rej['Patient_name'].duplicated(keep=False) & (df_rej['Patient_name'] == 'MARGARET BLANFORD')]

,Invoice_Number,Provider_LastName,Service_Date,Insurance_Name,Claim_Amount,Insurance_Claim_ID,Reject_Date,Reject_By,Rejected_Code,Reject_Message,Status,Reason,Patient_name,Hashed_name
14,9108131,AREND,2023-01-02,MEDICARE,88.0,2300610114301,2023-01-06,Clearinghouse,5,PHL-0400:INVALID HIERARCHICAL CHILD CODE,Outstanding,INVALID HIERARCHICAL CHILD CODE,MARGARET BLANFORD,d560f46c7eae51d396333041f6cbe1c5103319331caf15...
15,9108130,AREND,2023-01-02,RHC/MEDICARE,306.0,2300610230678,2023-01-06,Clearinghouse,5,IPAT0101:INVALID PATIENT RELATIONSHIP,Outstanding,INVALID PATIENT RELATIONSHIP,MARGARET BLANFORD,d560f46c7eae51d396333041f6cbe1c5103319331caf15...

In [89]:
from cryptography.fernet import Fernet

In [90]:
key = Fernet.generate_key()
cipher_suite = Fernet(key)

In [91]:
def encrypt_name(name):
    return cipher_suite.encrypt(name.encode()).decode()

# Fernet.generate_key() generates a symmetric encryption key.
# cipher_suite = Fernet(key) creates a cipher suite using the generated key.

In [92]:
def decrypt_name(encrypted_name):
    return cipher_suite.decrypt(encrypted_name.encode()).decode()

In [93]:
df_rej['Encrypted_Name'] = df_rej['Patient_name'].apply(encrypt_name)

In [94]:
df_rej.head(2)

,Invoice_Number,Provider_LastName,Service_Date,Insurance_Name,Claim_Amount,Insurance_Claim_ID,Reject_Date,Reject_By,Rejected_Code,Reject_Message,Status,Reason,Patient_name,Hashed_name,Encrypted_Name
0,9107776,HENDERSON,2023-01-02,FC_WELLCARE/MEDICARE,631.0,2300610113368,2023-01-06,Clearinghouse,HU,INVALID REFERRING PROVIDER NPI,Outstanding,INVALID REFERRING PROVIDER NPI,MELISSA JOHNSON,2dceea031b3d2dbd906258ac5ef6ed822da97e8205e901...,gAAAAABmhjuZX_vcFTU6pWoYm491fSGcxuFZogRUaS5zDH...
1,9107775,HENDERSON,2023-01-02,FC_TRICARE EAST,256.0,2300610113377,2023-01-06,Clearinghouse,HU,INVALID REFERRING PROVIDER NPI,Outstanding,INVALID REFERRING PROVIDER NPI,STEPHANIE SPEARS,4eb1ea67fa27fd81254a824c0f277cc50a6b9d70d4ce98...,gAAAAABmhjuZX7TOe1ShCWvaXNCFuo-y_mdogXPPf7KqGw...

In [95]:
df_rej['Decrypted_Name'] = df_rej['Encrypted_Name'].apply(decrypt_name)

In [96]:
df_rej['Patient_pkey'] = ['PT' + str(i + 1).zfill(3) for i in range(len(df_rej))]

In [97]:
df_rej = df_rej[['Invoice_Number', 'Patient_pkey', 'Patient_name', 'Hashed_name', 'Provider_LastName',
       'Service_Date', 'Insurance_Name', 'Claim_Amount', 'Insurance_Claim_ID',
       'Reject_Date', 'Reject_By', 'Rejected_Code', 'Reject_Message', 'Status',
       'Reason', 'Encrypted_Name', 'Decrypted_Name']]

In [101]:
df_rej.head(5)

,Invoice_Number,Patient_pkey,Patient_name,Hashed_name,Provider_LastName,Service_Date,Insurance_Name,Claim_Amount,Insurance_Claim_ID,Reject_Date,Reject_By,Rejected_Code,Reject_Message,Status,Reason,Encrypted_Name,Decrypted_Name
0,9107776,PT001,MELISSA JOHNSON,2dceea031b3d2dbd906258ac5ef6ed822da97e8205e901...,HENDERSON,2023-01-02,FC_WELLCARE/MEDICARE,631.0,2300610113368,2023-01-06,Clearinghouse,HU,INVALID REFERRING PROVIDER NPI,Outstanding,INVALID REFERRING PROVIDER NPI,gAAAAABmhjuZX_vcFTU6pWoYm491fSGcxuFZogRUaS5zDH...,MELISSA JOHNSON
1,9107775,PT002,STEPHANIE SPEARS,4eb1ea67fa27fd81254a824c0f277cc50a6b9d70d4ce98...,HENDERSON,2023-01-02,FC_TRICARE EAST,256.0,2300610113377,2023-01-06,Clearinghouse,HU,INVALID REFERRING PROVIDER NPI,Outstanding,INVALID REFERRING PROVIDER NPI,gAAAAABmhjuZX7TOe1ShCWvaXNCFuo-y_mdogXPPf7KqGw...,STEPHANIE SPEARS
2,9107233,PT003,DEWAYNE MAY,1482f6be92cad8bcf99a3488897dc1b20e8435992b94a4...,CARUSO,2023-01-02,FC_WELLCARE/MEDICAID,500.0,2300610113602,2023-01-06,Clearinghouse,7,PN4-0305:INVALID SUBSCRIBER POSTAL CODE,Outstanding,INVALID SUBSCRIBER POSTAL CODE,gAAAAABmhjuZamOd61pVdbo6B0ygTaqTtamU8NFxYDunxr...,DEWAYNE MAY
3,9107560,PT004,CALI SPENCER,f4e844fc11ab63695e83da1a986a83d8afb0a87b0f9557...,DOERR,2023-01-02,FC_AETNA_DIRECT,500.0,2300610113668,2023-01-06,Clearinghouse,54,MISSING SUBSCRIBER GENDER CODE,Outstanding,MISSING SUBSCRIBER GENDER CODE,gAAAAABmhjuZvchGjS3erdVintilNB-xJZYu9VbeZ6l5BV...,CALI SPENCER
4,9107476,PT005,BRAYDEN MOUNTS,cd941545e375a7997e6416d9845a3f1e06c87697ed5178...,FRANCIS,2023-01-02,FC_AETNA BETTER HEALTH,606.0,2300610113744,2023-01-06,Clearinghouse,54,MISSING SUBSCRIBER GENDER CODE,Outstanding,MISSING SUBSCRIBER GENDER CODE,gAAAAABmhjuZwmXj89lv-REE0OKvP-aZOdpMGl7dAQym5x...,BRAYDEN MOUNTS