In [1]:
import datetime
import pandas as pd
import calendar

In [2]:
year = int(input("Enter the year (YYYY): "))

df_calendar = pd.DataFrame({'calender_date':pd.date_range(start=f"{year}-01-01", end=f"{year}-12-31")})

Enter the year (YYYY): 2022

In [3]:
days_in_month = [calendar.monthrange(year, month)[1] for month in range(1, 13)]
dates = pd.date_range(start=f"{year}-01-01", end=f"{year}-12-31")

In [4]:
df_calendar['calender_date'] = pd.date_range(start=f"{year}-01-01", end=f"{year}-12-31")

In [5]:
df_calendar['day_num_of_week'] = [(date.dayofweek + 1) for date in dates]

In [6]:
df_calendar['day_num_month'] = [date.day for date in dates]

In [7]:
df_calendar['day_num_year'] =  [date.dayofyear for date in dates]

In [8]:
df_calendar ['week_num_of_month'] = [(date.day - 1) // 7 + 1 for date in dates]

In [9]:
df_calendar ['week_num_year']: [date.isocalendar()[1] for date in dates]

In [10]:
df_calendar['month_num'] = [date.month for date in dates]

In [11]:
df_calendar['month_short_name'] =  [date.strftime("%b") for date in dates]

In [12]:
df_calendar['month_full_name'] = [date.strftime("%B") for date in dates]

In [13]:
df_calendar['quater_num']  = [(date.month - 1) // 3 + 1 for date in dates]

In [14]:
df_calendar['calendar_year'] =  [year] * len(dates)

In [15]:
df_calendar['fiscal_month'] = [(date.month + 8) % 12 + 1 for date in dates]

In [16]:
df_calendar['fiscal_week']=  [date.isocalendar()[1] for date in dates]

In [17]:
df_calendar['fiscal_quater'] = [(date.month + 2) // 3 for date in dates]

In [18]:
df_calendar['short_day_name'] = [date.strftime("%a") for date in dates]

In [19]:
fiscal_year = []
for date in dates:
    if date.month < 4:
        fiscal_year.append(f"{year - 1}-{str(year)[-2:]}")
    else:
        fiscal_year.append(f"{year}-{str(year + 1)[-2:]}")
        
        
df_calendar['fiscal_year'] = fiscal_year

In [20]:
week_day_flag = []
holiday_flag = []
for date in dates:
    if date.dayofweek + 1 == 6:
        week_day_flag.append('Y')
    else:
        week_day_flag.append('N')
    
    if date.dayofweek + 1 in [6, 7]:
        holiday_flag.append('Y')
    else:
        holiday_flag.append('N')

In [21]:
df_calendar['week_day_flag'] = week_day_flag

In [22]:
df_calendar['holiday_flag'] = holiday_flag

In [28]:
df_calendar.loc[90:121]

,calender_date,day_num_of_week,day_num_month,day_num_year,week_num_of_month,month_num,month_short_name,month_full_name,quater_num,calendar_year,fiscal_month,fiscal_week,fiscal_quater,short_day_name,fiscal_year,week_day_flag,holiday_flag
90,2022-04-01,5,1,91,1,4,Apr,April,2,2022,1,13,2,Fri,2022-23,N,N
91,2022-04-02,6,2,92,1,4,Apr,April,2,2022,1,13,2,Sat,2022-23,Y,Y
92,2022-04-03,7,3,93,1,4,Apr,April,2,2022,1,13,2,Sun,2022-23,N,Y
93,2022-04-04,1,4,94,1,4,Apr,April,2,2022,1,14,2,Mon,2022-23,N,N
94,2022-04-05,2,5,95,1,4,Apr,April,2,2022,1,14,2,Tue,2022-23,N,N
95,2022-04-06,3,6,96,1,4,Apr,April,2,2022,1,14,2,Wed,2022-23,N,N
96,2022-04-07,4,7,97,1,4,Apr,April,2,2022,1,14,2,Thu,2022-23,N,N
97,2022-04-08,5,8,98,2,4,Apr,April,2,2022,1,14,2,Fri,2022-23,N,N
98,2022-04-09,6,9,99,2,4,Apr,April,2,2022,1,14,2,Sat,2022-23,Y,Y
99,2022-04-10,7,10,100,2,4,Apr,April,2,2022,1,14,2,Sun,2022-23,N,Y
100,2022-04-11,1,11,101,2,4,Apr,April,2,2022,1,15,2,Mon,2022-23,N,N
101,2022-04-12,2,12,102,2,4,Apr,April,2,2022,1,15,2,Tue,2022-23,N,N
102,2022-04-13,3,13,103,2,4,Apr,April,2,2022,1,15,2,Wed,2022-23,N,N
103,2022-04-14,4,14,104,2,4,Apr,April,2,2022,1,15,2,Thu,2022-23,N,N
104,2022-04-15,5,15,105,3,4,Apr,April,2,2022,1,15,2,Fri,2022-23,N,N
105,2022-04-16,6,16,106,3,4,Apr,April,2,2022,1,15,2,Sat,2022-23,Y,Y
106,2022-04-17,7,17,107,3,4,Apr,April,2,2022,1,15,2,Sun,2022-23,N,Y
107,2022-04-18,1,18,108,3,4,Apr,April,2,2022,1,16,2,Mon,2022-23,N,N
108,2022-04-19,2,19,109,3,4,Apr,April,2,2022,1,16,2,Tue,2022-23,N,N
109,2022-04-20,3,20,110,3,4,Apr,April,2,2022,1,16,2,Wed,2022-23,N,N
110,2022-04-21,4,21,111,3,4,Apr,April,2,2022,1,16,2,Thu,2022-23,N,N
111,2022-04-22,5,22,112,4,4,Apr,April,2,2022,1,16,2,Fri,2022-23,N,N
112,2022-04-23,6,23,113,4,4,Apr,April,2,2022,1,16,2,Sat,2022-23,Y,Y
113,2022-04-24,7,24,114,4,4,Apr,April,2,2022,1,16,2,Sun,2022-23,N,Y
114,2022-04-25,1,25,115,4,4,Apr,April,2,2022,1,17,2,Mon,2022-23,N,N
115,2022-04-26,2,26,116,4,4,Apr,April,2,2022,1,17,2,Tue,2022-23,N,N
116,2022-04-27,3,27,117,4,4,Apr,April,2,2022,1,17,2,Wed,2022-23,N,N
117,2022-04-28,4,28,118,4,4,Apr,April,2,2022,1,17,2,Thu,2022-23,N,N
118,2022-04-29,5,29,119,5,4,Apr,April,2,2022,1,17,2,Fri,2022-23,N,N
119,2022-04-30,6,30,120,5,4,Apr,April,2,2022,1,17,2,Sat,2022-23,Y,Y
120,2022-05-01,7,1,121,1,5,May,May,2,2022,2,17,2,Sun,2022-23,N,Y
121,2022-05-02,1,2,122,1,5,May,May,2,2022,2,18,2,Mon,2022-23,N,N

In [24]:
file_path = "Calender_dimension_table.xlsx"
df_calendar.to_excel(file_path, index=False)

In [26]:
9%12

9