In [15]:
# 1) data1 = {12,45,56,78,99,100,2,145,155,13,3,6,199,205}
# Iterate the set and display all the elements which are THREE digit numbers 
#Find the sum. 
# find the avg. Find the highest , find the lowest


data1 = {12,45,56,78,99,100,2,145,155,13,3,6,199,205}
d = []
for i in data1:
    if i > 99:
        d.append(i)
print('Three digits are',d)
print('Average',sum(d)/len(d))
print('Highest',max(d))
print('Lowest',min(d))

Three digits are [100, 199, 205, 145, 155]
Average 160.8
Highest 205
Lowest 100

In [18]:
#1. Given roll = [12,455,189,230,144] Add a new roll number my_roll = 155 to the roll list.

roll = [12,455,189,230,144]

roll.append(155)
print(roll)

[12, 455, 189, 230, 144, 155]

In [30]:
 #Find whether the roll number 189 exists if it is so then delete it otherwise display a message no such roll number found.

roll = [125,55,17,189,95,100]
num = 189
if num in roll:
    roll.remove(num)
    print('189 found and removed')
else:
    print('no such roll number found')

189 found and removed

In [ ]:
#3. Given You could add few more names to the list - names.
#Display all the names starting with 'A' or 'V'Display all the names not starting with 'S', or 'G', or 'K'

names = ['Deepak','Ajay','Dinesh','Ganesh','Divya','Suma','Vijay','Vino','Aravindh','Jiva']
names_withAV = []
names_witoutAV = []

for i in names:
    if i.startswith("A") or i.startswith("V"):
        names_withAV.append(i)
        
    else:
        names_witoutAV.append(i)
        
print('names_with A, V',names_withAV)
print('names_without A, V',names_witoutAV)

In [ ]:
#4) Find out whether the product Id 19 exists or not?If it exists then print the position of it in the List.
#If it DOES not exists then print the message Number DOES not exists in the product list.

prod_list = [120,34,888,199,202,33,31,19,20]
id = 19

if id in prod_list:
    print(prod_list.index(id))
else:
    print('DOES not exists in the product list')

Domain: One Line Coder

Function: Comprehension

Scenario: List Comprehension

In [43]:
#1)create list comprehension to print the value in reverse orderli = ['python',10, 3.2, 'selenium_', 'java']

l = ['python',10, 3.2, 'selenium_', 'java']
l = [i for i in l[::-1]]
l

['java', 'selenium_', 3.2, 10, 'python']

In [45]:
#10)Print multiplication table 2 to 5 

table = [[f"{i} x {j} = {i*j}" for i in range (1,11)]for j in range(2,6)]

for t in table:
    for line in t:
        print(line)

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [46]:
#2) print only single value data types in listli = ['python',1.2,100,'selenium_', 'java','abc',1,12,13,14,3+4j

li = ['python',1.2,100,'selenium_', 'java','abc',1,12,13,14,3+4j]

ls = [i for i in li if isinstance(i,(int,float,complex))]
print(ls)

[1.2, 100, 1, 12, 13, 14, (3+4j)]

In [51]:
#3)print odd length as it is even length reverse itli = ['python', 'java', 'selium', 'abc', 'abcde']

li = ['python', 'java', 'selium', 'abc', 'abcde']

lc = [i if len(i)%2 != 0 else i[::-1] for i in li ]
print(lc)

['nohtyp', 'avaj', 'muiles', 'abc', 'abcde']

In [54]:
# 4)print word with length

li = ['python','selenium_', 'java','abc']

lc = [f"{i} ({len(i)}) " for i in li]
print(lc)

['python (6) ', 'selenium_ (9) ', 'java (4) ', 'abc (3) ']

In [55]:
#5)odd lengh print as it is even length reverse it

li = ['python','selenium_', 'java','abc']
lc = [i if len(i)%2!= 0 else i[::-1] for i in li]
print(li)

['python', 'selenium_', 'java', 'abc']

In [60]:
#6)Find vowel and consonant count in a string

a = 'Hi how are you'
vo = set('aeiouAEIOU')

voc = len([i for i in a if i in vo])
coc = len([i for i in a if i not in vo])
print(voc)
print(coc)

6
8

In [ ]:
seen = set()
new_string = ''.join([char for char in input_string if not (char in seen or seen.add(char))])

# Printing the new string
print(new_string)

In [68]:
#7)Remove duplicate in string and create new string

a = 'Hi how are you how are everyone'
b = set()

lc = ''.join([i for i in a if not (i in b or b.add(i))])
print(lc)

Hi howareyuvn

In [70]:
#8)print only extension in list
li = ['gmail.com','yahoo.in','google.com']

lc = [i.split('.')[-1] for i in li]
print(lc)

['com', 'in', 'com']

In [71]:
#9)first and last character should be same
li = ['axa','amma','xyz','1221']

lc = [i for i in li if i[0] == i[-1] ]
print(lc)

['axa', 'amma', '1221']

Domain: One Line Coder

Function: Comprehension

Scenario: Set Comprehension

In [74]:
#1) create a set comprehension to show unique values
li = [1,1,2,3,4,6,7,2,1,3]

st = {i for i in li}
print(st)

{1, 2, 3, 4, 6, 7}

In [81]:
#2)create a set comprehension to show char and ascii value of that character in a tuple
st = 'python'
ch = {(i,ord(i)) for i in st}
print(ch)

{('t', 116), ('h', 104), ('n', 110), ('p', 112), ('o', 111), ('y', 121)}

In [86]:
#3)create a set comprehension to show how many numbers are completely divisible by 3,5 in the range of 1 to 50

st = {i for i in range(1,51) if i%3 == 0 and i % 5 ==0}
print(len(st))

3

In [88]:
#4)create set comprehension to replace 0 with "False" 1 with "True" other number as "others"
li = [0,1,2,3,4,0,1]

st = {(False if i == 0 else True if i == 1 else 'Others')for i in li}
print(st)

{False, True, 'Others'}

In [90]:
#5)create set comprehension to show odd length string as it is even length string reverse it

sl = ['python', 'java', 'selium', 'abc', 'abcde']

s = {i if len(i) % 2 != 0 else i[::-1] for i in sl}
print(s)

{'abc', 'avaj', 'muiles', 'nohtyp', 'abcde'}

In [96]:
#6)create set comprehension show available vowels in a given string

st = "hai hello welcome to python" 
st = {i for i in st if i in 'aeiouAEIOIU'}
print(st)

{'o', 'e', 'i', 'a'}

Domain: One Line Coder

Function: Comprehension

Scenario: Dictionary Comprehension

In [102]:
#1)WAP to create a dictionary with item and its index pair

items = ['apple', 'banana', 'orange', 'grapes']

d = {i:index for index,i in enumerate(items)}
print(d)

{'apple': 0, 'banana': 1, 'orange': 2, 'grapes': 3}

In [104]:
# 10)create a dict comprehension to show char and ascii value pairit = [1,2,3,4,5]
st = 'hi hello'

d = {i:ord(i) for i in st}
print(d)

{'h': 104, 'i': 105, ' ': 32, 'e': 101, 'l': 108, 'o': 111}

In [105]:
#2) WAP to create a dictionary with word and its length pair

items = ['apple', 'banana', 'orange', 'grapes']

d = {i:len(i) for i in items}
print(d)

{'apple': 5, 'banana': 6, 'orange': 6, 'grapes': 6}

In [106]:
#3) create a dictionary of character and its countst = "hello world"
st = "hello world"

d = {i:st.count(i) for i in st}
print(d)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [109]:
#4) create a dictionary of word and its countsentence = "python is a language, python programming is easy"
st = "python is a language, python programming is easy"

d = {i:i.split().count(i) for i in st.split()}
print(d)

{'python': 1, 'is': 1, 'a': 1, 'language,': 1, 'programming': 1, 'easy': 1}

In [112]:
# ) dictionary with word and its count pair only if the word is of even length

st = "python is a language, python programming is easy"


d = {word:st.split().count(word) for word in st.split() if len(word)%2 ==0}
print(d)

{'python': 2, 'is': 2, 'easy': 1}

In [114]:
#6)Dictionary with index and word pair if the word is of odd length reverse it,else keep it as is

st = "python is a language, python programming is easy"

d = {index: word[::-1] if len(word)%2 != 0 else word for index,word in enumerate(st.split())}
print(d)

{0: 'python', 1: 'is', 2: 'a', 3: ',egaugnal', 4: 'python', 5: 'gnimmargorp', 6: 'is', 7: 'easy'}

In [116]:
#7)Word and length pair only if the word is starting with vowel

st = "python is a language, python programming is easy"
d = {word: len(word) for word in st.split() if word[0].lower() in {'a', 'e', 'i', 'o', 'u'} }
print(d)

{'is': 2, 'a': 1, 'easy': 4}

In [119]:
#8)index and word pair if word is of type string reverse it 
st = "python is a language, python programming is easy"

d = {index: word[::-1] if isinstance(word, str) else word for index, word in enumerate(st.split())}
print(d)

{0: 'nohtyp', 1: 'si', 2: 'a', 3: ',egaugnal', 4: 'nohtyp', 5: 'gnimmargorp', 6: 'si', 7: '4'}

In [125]:
#9)Flip keys and values in a dictionary

a = {'apple': 0, 'banana': 1, 'orange': 2, 'grapes': 3}

d= {value: key for key, value in a.items()}
print(d)

{0: 'apple', 1: 'banana', 2: 'orange', 3: 'grapes'}

Domain: Conditional Statement

Function: If else Condition

Scenario: If else condition

In [129]:
# 1)Check the given number is even or odd
a = int(input())

if a % 2 == 0:
  print('even')
else:
  print('odd')

 9

odd

In [137]:
#10)Write a program to print total amount for the product including shipping charge
#If the product cost is less than 500Rs then add 50rs as shipping charge greater than 50Rs no shipping charge


product_cost = int(input())
total_cost = 0
if product_cost < 500:
    total_cost = product_cost+50
    print(f"{product_cost} product_cost + 50 shipping cost = {total_cost} totat_cost" )
else:
    print(f"no shipping charge {total_cost}")

 450

450 product_cost + 50 shipping cost = 500 totat_cost

In [142]:
#2) Enter a number if number completely divisible by 5 then add 10 to it else 5 to it

a = int(input())

if a %5 ==0:
    a = a+10
    print(a)
else:
    a = a+5
    print(a)

 2

7

In [144]:
# 3)create a list of products check the particular product looking is available in stock or not

products = ['apple', 'banana', 'orange', 'grapes']

avail = input('enter a product: ')

if avail in products:
    print('yes')
else:
    print('no')

enter a product:  ban

no

In [147]:
# 4)Write a program two find smallest number between two numbers

n1 = int(input('enter a number'))
n2 = int(input('enter a number'))

if n1 > n2:
    print('n1',n1)
else:
    print('n2',n2)

enter a number 50
enter a number 22

n1 50

In [149]:
#5)Check the number is completely divisible by 3 and 2

num = int(input('enter a number : '))

if num % 3 == 0  and num % 2 == 0:
    print('completely divisible by 3 and 2')
else:
    print('no')

enter a number :  3

no

In [156]:
# 6)A shop will give discount of 10% if the cost of purchased amount is 10000.
# Ask user for quantitySuppose, one unit will cost 100.Judge and print total cost for user.
quantity = int(input("enter the quantity: "))

unit_cost = 100
total_cost = quantity * unit_cost

if total_cost >= 10000:
    discount = 0.1 * total_cost
    total_cost = total_cost - discount
print("total cost:", total_cost)

enter the quantity:  1

total cost: 100

In [158]:
#7)Take values of length and breadth of a rectangle from user and check if it is square or not.

l = int(input('enter a l'))
b = int(input('enter a b'))

if l == b :
    print('it is a square')
else:
    print('it is rectangle')

enter a l 4
enter a b 4

it is a square

In [159]:
# 8)A student will not be allowed to sit in exam if his/her attendance is less than 75%.
# Take following input from user Number of classes held, Number of classes attended. 
# And printpercentage of class attended. Is student is allowed to sit in exam or not.

classes_held = int(input("enter the no classes held: "))
classes_attended = int(input("enter the no of classes attended: "))


atte_per= (classes_attended / classes_held) * 100
if atte_per >= 75:
    print("percentage of classes attended:", atte_per, "%")
    print("student is allowed to sit in the exam.")
else:
    print("percentage of classes attended:", atte_per, "%")
    print("student is not allowed to sit in the exam.")

enter the no classes held:  50
enter the no of classes attended:  40

percentage of classes attended: 80.0 %
student is allowed to sit in the exam.

In [165]:
#9)Candidate will be selected for the particular job if he/she met 
# following expectationYear_of_ experience > 5 Education = MTECH

year_of_exp = int(input('enter the year'))
education  = input('enter education')
education = education.upper()
if year_of_exp >= 5 and education == 'MTECH':
    print('allowed')
else:
    print('no')

enter the year 3
enter education mtech

no

In [167]:
# if the candidate is graduate and has 5+ years of experience and is ready to work fromoffice - 
# send the interview letter otherwise say rejected.(write nested if else...code)
year_of_exp = int(input('enter the year'))
work_from  = input('enter you preference')
work_from = work_from.lower()

if year_of_exp > 5 and work_from == 'office':
    print('selected')
else:
    print('rejeced')

enter the year 5
enter you preference office

rejeced

In [168]:
# if the price of the item is more than 1000 then the discount is 3% otherwise it is 2%. 
# given the purchase item cost is 1200 what is the discount? what is the amt after discount?
item_cost = 1200

if item_cost > 1000:
    discount_percentage = 0.03  
else:
    discount_percentage = 0.02
discount = discount_percentage * item_cost
amount_after_discount = item_cost - discount
print("Discount:", discount)
print("Amount after discount:", amount_after_discount)

Discount: 36.0
Amount after discount: 1164.0

In [169]:
# if the salary of the employee is above 75000 then there is 9% tax  
# if the salary of the employee is above 60000 (less than 75000) then there is 7% tax   
# if the salary of the employee is above 48000 (less than 60000) then there is 5.5% tax  
#otherwise it is 2% tax   
# print the salary, tax amount, salary after tax [you need to deduct tax from salary]


salary = int(input('enter salary'))
tax_percentage = 0


if salary > 75000:
    tax_percentage = 0.09
elif salary > 60000:
    tax_percentage = 0.07
elif salary > 48000:
    tax_percentage = 0.055
else:
    tax_percentage = 0.02

tax_amount = tax_percentage * salary
salary_after_tax = salary - tax_amount
print("salary:", salary)
print("tax amount:", tax_amount)
print("salary_after_tax:", salary_after_tax)

enter a number 80000

salary: 80000
tax amount: 7200.0
salary_after_tax: 72800.0

In [170]:
# name1 = "Ramesh Kumar"name2 = 'Ramesh' + ' Kumar'how to check whether the names are same?
name1 = "Ramesh Kumar"
name2 = 'Ramesh' + ' Kumar'

if name1 == name2:
    print('same')
else:
    print('no')

same

In [171]:
# once solution 5 is there let say the client say to add the condition that the last salary drawn should not be above 60000 
# then only the candidate is to be shortlisted otherwise not.


salary = int(input("enter the salary of the employee: "))
last_drawn_salary = int(input("enter the last drawn salary: "))

if salary > 75000 and last_drawn_salary <= 60000:
    tax_percentage = 0.09
elif salary > 60000 and salary <= 75000 and last_drawn_salary <= 60000:
    tax_percentage = 0.07
elif salary > 48000 and salary <= 60000 and last_drawn_salary <= 60000:
    tax_percentage = 0.055
elif salary <= 48000 and last_drawn_salary <= 60000:
    tax_percentage = 0.02
else:
    print("employee not matched the criteria.")

if tax_percentage != 0:
    tax_amount = tax_percentage * salary

    salary_after_tax = salary - tax_amount

    print("salary:", salary)
    print("tax amt:", tax_amount)
    print("salary after tax:", salary_after_tax)

enter the salary of the employee:  50000
enter the last drawn salary:  40000

salary: 50000
tax amt: 2750.0
salary after tax: 47250.0

6)Domain: Basic Programs

Function: Operators

Scenario: Programs on Operator

In [173]:
#1)	Enter cost price, Enter desired profit percentage and find selling price

def calculate_selling_price(cost_price,profit_percentage):
    selling_price = cost_price +(cost_price*profit_precentage/100)
    return selling_price

cost_price = int(input('enter cost_price: '))
profit_percentage = int(input('enter profit percentage: '))
selling_price = calculate_selling_price(cost_price, profit_percentage)
print("selling Price:", selling_price)

enter cost_price:  500
enter profit percentage:  30

selling Price: 550.0

In [174]:
#0)	Enter the product price, calculate the total amount of the product by considering 2% Discount

def calculate_discout(original_price,discount_percentage):
    discount_price = original_price - (original_price*discount_percentage/100)
    return discount_price

original_price = float(input("enter the product price: "))
discount_percentage = 2.0

discounted_price = calculate_discout(original_price,discount_percentage)

print(discounted_price)

enter the product price:  5000

4900.0

In [ ]:
#2)	Enter the product price, Qty, Gst in percentage find the total amount of the product

def total_amt(product_price,qty,gst_p):
    total_price_without_gst = product_price * qty
    gst_amount = total_price_without_gst * gst_p / 100
    total_amount = total_price_without_gst + gst_amount
    return total_amount

product_price = float(input("Enter the product price: "))
qty = int(input("Enter the qty: "))
gst = float(input("Enter the GST percentage: "))

# Practice Questions

In [194]:
#1. Write a Python function that takes a list of integers as input and returns a new list containing only the prime numbers.

nums= [2,3,4,5,6,7,8,9,10,11,12]
def return_prime(nums):
    prime_nums=[]
    for i in nums:
        if i>=2:
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                prime_nums.append(i)
    return prime_nums

In [195]:
return_prime(nums)

[2, 3, 5, 7, 11]

In [196]:
#2. Implement a function that accepts two lists of integers and returns a new list containing elements that are common to both lists.

def find_common(l1,l2):
    set1 = set(l1)
    set2 = set(l2)
    common_ele = set1.intersection(set2)
    return list(common_ele)

l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]

common_elements = find_common(l1, l2)
print( common_elements)

[4, 5]

In [197]:
#3. Write a Python code to reverse a tuple without using the [: : -1] slicing.


def rev_tup(a):
    rev_it = reversed(a)
    rev_tup = tuple(rev_it)
    return rev_tup
    
a = (1,2,3,4,5,1,2)

reversed_tuple = rev_tup(a)
print(reversed_tuple)

(2, 1, 5, 4, 3, 2, 1)

In [202]:
#4. Create a dictionary representing a student database with information such as name, age, subjects, and grades. 
#Implement a function that calculates and returns the average grade of the student.


student = {
    "name": "John Doe",
    "age": 20,
    "subjects": ["Math", "Science", "History", "English"],
    "grades": [85, 90, 78, 92]  }

def avg_marks_cal(student):
    grades = student['grades']
    avg_grade = sum(grades)/len(grades)
    return avg_grade

avg_grade = avg_marks_cal(student)
avg_grade

In [206]:
#5. Write a Python code to merge two dictionaries. If there are common keys, sum the values.
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'b': 300, 'c': 400, 'd': 500}

merged_dict = d1.copy()

for key, value in d2.items():
    if key in merged_dict:
        merged_dict[key] += value  
    else:
        merged_dict[key] = value  

print(merged_dict)

{'a': 100, 'b': 500, 'c': 700, 'd': 500}

In [208]:
#6. Consider a list of integers named data. Write a Python program that accomplishes the following tasks:

In [210]:
# a) Initialize the data list with a minimum of 10 integer values.
data = [22,32,1,3,5,322,5,65,54,344,655,43,11]
print(data)

[22, 32, 1, 3, 5, 322, 5, 65, 54, 344, 655, 43, 11]

In [215]:
#b) Implement a loop to calculate the square of each element in the data list.
new = []
for i in data:
    i**2
    new.append(i)
print(new)

[22, 32, 1, 3, 5, 322, 5, 65, 54, 344, 655, 43, 11]

In [217]:
#c) Use list comprehension to create a new list named squared_data containing the squared values of the original list.

data = [22,32,1,3,5,322,5,65,54,344,655,43,11]

lc = [i**2 for i in data]
lc

[484, 1024, 1, 9, 25, 103684, 25, 4225, 2916, 118336, 429025, 1849, 121]

In [222]:
#d) Write a function named filter_data that takes a list as input and returns a new list containing only the elements greater than 50.


def filter_data(l):
    filtered_list = [x for x in input_list if x > 50]
    return filtered_list

data = [22, 32, 1, 3, 5, 322, 5, 65, 54, 344, 655, 43, 11]

filtered_data = filter_data(data)

print(filtered_data)

[322, 65, 54, 344, 655]

In [224]:
#e) Use the filter_data function to create a new list named filtered_data from the squared_data list.
def fil_data(l):
    filtered_list = [x for x in l if x > 50]
    return filtered_list
new

filtered_data = fil_data(new)

print(filtered_data)

[322, 65, 54, 344, 655]

In [234]:
#f) Implement a loop to iterate through the filtered_data list and print each element along with its index in the list.
filtered_data

for index, element in enumerate(filtered_data):
    print(f"index {index}: {element}")

index 0: 322
index 1: 65
index 2: 54
index 3: 344
index 4: 655

In [240]:
#g) Finally, sort the filtered_data list in descending order and print the sorted list.

sorted_l = sorted(filtered_data)
sorted_l

[54, 65, 322, 344, 655]

In [238]:
\

[54, 65, 322, 344, 655]