In [18]:
import pandas as pd
import glob
import os
import json
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [2]:
folder_path = "C:/Users/DELL/OneDrive/Desktop/AT files/Daily/raw"  

file=[]
for root, dirs, files in os.walk(folder_path):
    root_path=root.split('\\')
    root_path='/'.join(root_path)
    for i in files:
        if not i.endswith('.ipynb') and not i.endswith('.DS_Store'):
            path=f'{root_path}/{i}'
            file.append(path)

In [3]:
df_dict={}

for i in file :
    if i.endswith('.csv'):
        name=i.split('/')[-1].split('.')[0]
        df_dict[f'{name}_df']=pd.read_csv(i)
        
    elif i.endswith('.json'):
        try:
            name=i.split('/')[-1].split('.')[0]
            df_dict[f'{name}_df']=pd.read_json(i, lines=True)
        except ValueError:
            name=i.split('/')[-1].split('.')[0]
            df_dict[f'{name}_df']=pd.read_json(i)
    else:
        print('no')

In [4]:
for i in df_dict:
    print(i)

circuits_df
constructors_df
drivers_df
lap_times_split_1_df
lap_times_split_2_df
lap_times_split_3_df
lap_times_split_4_df
lap_times_split_5_df
pit_stops_df
qualifying_split_1_df
qualifying_split_2_df
races_df
results_df

In [5]:
for key in df_dict:
    globals()[key] = df_dict[key]

In [6]:
for key in df_dict:
    print(f"\n{key}:")
    print(globals()[key])

circuits_df:
    circuitId   circuitRef                                  name  \
0           1  albert_park        Albert Park Grand Prix Circuit
1           2       sepang          Sepang International Circuit
2           3      bahrain         Bahrain International Circuit
3           4    catalunya        Circuit de Barcelona-Catalunya
4           5     istanbul                         Istanbul Park
..        ...          ...                                   ...
72         73          BAK                     Baku City Circuit
73         74        hanoi                  Hanoi Street Circuit
74         75     portimao    Autódromo Internacional do Algarve
75         76      mugello  Autodromo Internazionale del Mugello
76         77       jeddah                 Jeddah Street Circuit

        location       country       lat        lng  alt  \
0      Melbourne     Australia -37.84970  144.96800   10
1   Kuala Lumpur      Malaysia   2.76083  101.73800   18
2         Sakhir       Bahrain  26.03250   50.51060    7
3       Montmeló         Spain  41.57000    2.26111  109
4       Istanbul        Turkey  40.95170   29.40500  130
..           ...           ...       ...        ...  ...
72          Baku    Azerbaijan  40.37250   49.85330   -7
73         Hanoi       Vietnam  21.01660  105.76600    9
74      Portimão      Portugal  37.22700   -8.62670  108
75       Mugello         Italy  43.99750   11.37190  255
76        Jeddah  Saudi Arabia  21.54330   39.17280   15

                                                  url
0   http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1   http://en.wikipedia.org/wiki/Sepang_Internatio...
2   http://en.wikipedia.org/wiki/Bahrain_Internati...
3   http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4          http://en.wikipedia.org/wiki/Istanbul_Park
..                                                ...
72     http://en.wikipedia.org/wiki/Baku_City_Circuit
73  http://en.wikipedia.org/wiki/Hanoi_Street_Circuit
74  http://en.wikipedia.org/wiki/Algarve_Internati...
75       http://en.wikipedia.org/wiki/Mugello_Circuit
76  http://en.wikipedia.org/wiki/Jeddah_Street_Cir...

[77 rows x 9 columns]

constructors_df:
     constructorId constructorRef            name nationality  \
0                1        mclaren         McLaren     British
1                2     bmw_sauber      BMW Sauber      German
2                3       williams        Williams     British
3                4        renault         Renault      French
4                5     toro_rosso      Toro Rosso     Italian
..             ...            ...             ...         ...
206            209          manor  Manor Marussia     British
207            210           haas    Haas F1 Team    American
208            211   racing_point    Racing Point     British
209            213     alphatauri      AlphaTauri     Italian
210            214         alpine  Alpine F1 Team      French

                                                   url
0                 http://en.wikipedia.org/wiki/McLaren
1              http://en.wikipedia.org/wiki/BMW_Sauber
2    http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3    http://en.wikipedia.org/wiki/Renault_in_Formul...
4     http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
..                                                 ...
206      http://en.wikipedia.org/wiki/Manor_Motorsport
207          http://en.wikipedia.org/wiki/Haas_F1_Team
208  http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209   http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210        http://en.wikipedia.org/wiki/Alpine_F1_Team

[211 rows x 5 columns]

drivers_df:
     driverId          driverRef number code  \
0           1           hamilton     44  HAM
1           2           heidfeld     \N  HEI
2           3            rosberg      6  ROS
3           4             alonso     14  ALO
4           5         kovalainen     \N  KOV
..        ...                ...    ...  ...
848       850  pietro_fittipaldi     51  FIT
849       851             aitken     89  AIT
850       852            tsunoda     \N  TSU
851       853            mazepin     \N  MAZ
852       854    mick_schumacher     \N  SCH

                                                name         dob nationality  \
0       {'forename': 'Lewis', 'surname': 'Hamilton'}  1985-01-07     British
1        {'forename': 'Nick', 'surname': 'Heidfeld'}  1977-05-10      German
2         {'forename': 'Nico', 'surname': 'Rosberg'}  1985-06-27      German
3      {'forename': 'Fernando', 'surname': 'Alonso'}  1981-07-29     Spanish
4    {'forename': 'Heikki', 'surname': 'Kovalainen'}  1981-10-19     Finnish
..                                               ...         ...         ...
848  {'forename': 'Pietro', 'surname': 'Fittipaldi'}  1996-06-25   Brazilian
849        {'forename': 'Jack', 'surname': 'Aitken'}  1995-09-23     British
850       {'forename': 'Yuki', 'surname': 'Tsunoda'}  2000-05-11    Japanese
851     {'forename': 'Nikita', 'surname': 'Mazepin'}  1999-03-02     Russian
852    {'forename': 'Mick', 'surname': 'Schumacher'}  1999-03-22      German

                                                url
0       http://en.wikipedia.org/wiki/Lewis_Hamilton
1        http://en.wikipedia.org/wiki/Nick_Heidfeld
2         http://en.wikipedia.org/wiki/Nico_Rosberg
3      http://en.wikipedia.org/wiki/Fernando_Alonso
4    http://en.wikipedia.org/wiki/Heikki_Kovalainen
..                                              ...
848  http://en.wikipedia.org/wiki/Pietro_Fittipaldi
849        http://en.wikipedia.org/wiki/Jack_Aitken
850       http://en.wikipedia.org/wiki/Yuki_Tsunoda
851     http://en.wikipedia.org/wiki/Nikita_Mazepin
852    http://en.wikipedia.org/wiki/Mick_Schumacher

[853 rows x 8 columns]

lap_times_split_1_df:
       841   20   1  1.1  1:38.109  98109
0      841   20   2    1  1:33.006  93006
1      841   20   3    1  1:32.713  92713
2      841   20   4    1  1:32.803  92803
3      841   20   5    1  1:32.342  92342
4      841   20   6    1  1:32.605  92605
...    ...  ...  ..  ...       ...    ...
99993  933  830  42    7  1:13.273  73273
99994  933  830  43    7  1:13.104  73104
99995  933  830  44    7  1:13.095  73095
99996  933  830  45    7  1:13.076  73076
99997  933  830  46    7  1:13.273  73273

[99998 rows x 6 columns]

lap_times_split_2_df:
       933  830  47  7  1:12.976  72976
0      933  830  48  7  1:13.108  73108
1      933  830  49  7  1:12.972  72972
2      933  830  50  7  1:12.767  72767
3      933  830  51  7  1:13.248  73248
4      933  830  52  7  1:12.829  72829
...    ...  ...  .. ..       ...    ...
99994  145    2  34  7  1:23.355  83355
99995  145    2  35  7  1:23.733  83733
99996  145    2  36  7  1:23.722  83722
99997  145    2  37  7  1:23.249  83249
99998  145    2  38  7  1:23.315  83315

[99999 rows x 6 columns]

lap_times_split_3_df:
       145   2  39   7  1:27.597   87597
0      145   2  40  10  1:47.283  107283
1      145   2  41  10  1:25.187   85187
2      145   2  42  10  1:23.978   83978
3      145   2  43  10  1:24.152   84152
4      145   2  44   9  1:24.952   84952
...    ...  ..  ..  ..       ...     ...
99994   67  14  21  12  1:25.358   85358
99995   67  14  22  12  1:25.303   85303
99996   67  14  23  12  1:25.490   85490
99997   67  14  24  13  1:26.374   86374
99998   67  14  25  13  1:26.751   86751

[99999 rows x 6 columns]

lap_times_split_4_df:
        67   14  26  13  1:25.802   85802
0       67   14  27  13  1:25.338   85338
1       67   14  28  13  1:25.395   85395
2       67   14  29  12  1:26.191   86191
3       67   14  30  11  1:25.439   85439
4       67   14  31  10  1:25.375   85375
...    ...  ...  ..  ..       ...     ...
99994  963  836   4  16  1:43.715  103715
99995  963  836   5  16  1:43.350  103350
99996  963  836   6  16  1:43.308  103308
99997  963  836   7  15  1:42.626  102626
99998  963  836   8  14  1:43.175  103175

[99999 rows x 6 columns]

lap_times_split_5_df:
        963  836   9  15  2:22.467  142467
0       963  836  10  17  2:17.112  137112
1       963  836  11  17  1:44.058  104058
2       963  836  12  17  1:43.085  103085
3       963  836  13  16  1:42.988  102988
4       963  836  14  16  1:43.222  103222
...     ...  ...  ..  ..       ...     ...
90899  1047  815   4  17  1:44.762  104762
90900  1047  815   5  16  1:43.786  103786
90901  1047  815   6  15  1:43.263  103263
90902  1047  815   7  15  1:45.123  105123
90903  1047  815   8  14  1:44.231  104231

[90904 rows x 6 columns]

pit_stops_df:
      raceId  driverId  stop  lap      time duration  milliseconds
0        841       153     1    1  17:05:23   26.898         26898
1        841        30     1    1  17:05:52   25.021         25021
2        841        17     1   11  17:20:48   23.426         23426
3        841         4     1   12  17:22:34   23.251         23251
4        841        13     1   13  17:24:10   23.842         23842
...      ...       ...   ...  ...       ...      ...           ...
8025    1047        20     1   35  18:17:15    22.04         22040
8026    1047       849     2   35  18:17:41   22.384         22384
8027    1047       817     1   39  18:23:37   22.123         22123
8028    1047       825     2   47  18:39:11   23.098         23098
8029    1047       850     3   48  18:41:11   23.217         23217

[8030 rows x 7 columns]

qualifying_split_1_df:
      qualifyId  raceId  driverId  constructorId  number  position        q1  \
0             1      18         1              1      22         1  1:26.572
1             2      18         9              2       4         2  1:26.103
2             3      18         5              1      23         3  1:25.664
3             4      18        13              6       2         4  1:25.994
4             5      18         2              2       3         5  1:25.960
...         ...     ...       ...            ...     ...       ...       ...
4994       4997     861         3            131       8         8  1:37.696
4995       4998     861         4              6       5         9  1:38.151
4996       4999     861       815             15      15        10  1:37.933
4997       5000     861       813              3      18        11  1:37.789
4998       5001     861        13              6       6        12  1:38.381

            q2        q3
0     1:25.187  1:26.714
1     1:25.315  1:26.869
2     1:25.452  1:27.079
3     1:25.691  1:27.178
4     1:25.518  1:27.236
...        ...       ...
4994  1:36.996  1:36.664
4995  1:37.379  1:37.566
4996  1:37.477  1:37.698
4997  1:37.589        \N
4998  1:37.731        \N

[4999 rows x 9 columns]

qualifying_split_2_df:
      qualifyId  raceId  driverId  constructorId  number  position        q1  \
0          5002     861       811              3      19        13  1:38.437
1          5003     861       814             10      11        14  1:38.325
2          5004     861       817              5      16        15  1:38.419
3          5005     861       807             10      12        16  1:38.303
4          5006     861       155             15      14        17  1:38.372
...         ...     ...       ...            ...     ...       ...       ...
3690       8730    1047         8             51       7        16  1:37.555
3691       8731    1047       825            210      20        17  1:37.863
3692       8732    1047       847              3      63        18  1:38.045
3693       8733    1047       850            210      51        19  1:38.173
3694       8734    1047       849              3       6        20  1:38.443

            q2  q3
0     1:37.841  \N
1     1:37.877  \N
2     1:37.883  \N
3     1:37.890  \N
4     1:38.069  \N
...        ...  ..
3690        \N  \N
3691        \N  \N
3692        \N  \N
3693        \N  \N
3694        \N  \N

[3695 rows x 9 columns]

races_df:
      raceId  year  round  circuitId                      name        date  \
0          1  2009      1          1     Australian Grand Prix  2009-03-29
1          2  2009      2          2      Malaysian Grand Prix  2009-04-05
2          3  2009      3         17        Chinese Grand Prix  2009-04-19
3          4  2009      4          3        Bahrain Grand Prix  2009-04-26
4          5  2009      5          4        Spanish Grand Prix  2009-05-10
...      ...   ...    ...        ...                       ...         ...
1053    1069  2021     18         69  United States Grand Prix  2021-10-24
1054    1070  2021     19         32    Mexico City Grand Prix  2021-10-31
1055    1071  2021     20         18      Brazilian Grand Prix  2021-11-07
1056    1072  2021     22         77  Saudi Arabian Grand Prix  2021-12-05
1057    1073  2021     23         24      Abu Dhabi Grand Prix  2021-12-12

          time                                                url
0     06:00:00  http://en.wikipedia.org/wiki/2009_Australian_G...
1     09:00:00  http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2     07:00:00  http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3     12:00:00  http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4     12:00:00  http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...        ...                                                ...
1053  19:00:00  http://en.wikipedia.org/wiki/2021_United_State...
1054  19:00:00  http://en.wikipedia.org/wiki/2021_Mexican_Gran...
1055  17:00:00  http://en.wikipedia.org/wiki/2021_Brazilian_Gr...
1056  16:00:00  http://en.wikipedia.org/wiki/2021_Saudi_Arabia...
1057  13:00:00  http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...

[1058 rows x 8 columns]

results_df:
       resultId  raceId  driverId  constructorId number  grid position  \
0             1      18         1              1     22     1        1
1             2      18         2              2      3     5        2
2             3      18         3              3      7     7        3
3             4      18         4              4      5    11        4
4             5      18         5              1     23     3        5
...         ...     ...       ...            ...    ...   ...      ...
24955     24961    1047       841             51     99    14       16
24956     24962    1047       849              3      6    18       17
24957     24963    1047       825            210     20    20       18
24958     24964    1047       850            210     51    17       19
24959     24965    1047       815            211     11    19       \N

      positionText  positionOrder  points  laps         time milliseconds  \
0                1              1    10.0    58  1:34:50.616      5690616
1                2              2     8.0    58       +5.478      5696094
2                3              3     6.0    58       +8.163      5698779
3                4              4     5.0    58      +17.181      5707797
4                5              5     4.0    58      +18.014      5708630
...            ...            ...     ...   ...          ...          ...
24955           16             16     0.0    54           \N           \N
24956           17             17     0.0    54           \N           \N
24957           18             18     0.0    54           \N           \N
24958           19             19     0.0    53           \N           \N
24959            R             20     0.0     8           \N           \N

      fastestLap rank fastestLapTime fastestLapSpeed  statusId
0             39    2       1:27.452           218.3         1
1             41    3       1:27.739         217.586         1
2             41    5       1:28.090         216.719         1
3             58    7       1:28.603         215.464         1
4             43    1       1:27.418         218.385         1
...          ...  ...            ...             ...       ...
24955         29    7       1:41.675          196.65        11
24956         49   16       1:42.497         195.073        11
24957         50   13       1:41.999         196.025        11
24958         50    8       1:41.707         196.588        12
24959          6   19       1:43.263         193.625         7

[24960 rows x 18 columns]

In [7]:
dataframes = [circuits_df,constructors_df,drivers_df,lap_times_split_1_df,lap_times_split_2_df,
              lap_times_split_3_df,lap_times_split_4_df,lap_times_split_5_df,
              pit_stops_df,qualifying_split_1_df,qualifying_split_2_df,races_df,results_df]

for df in dataframes:
    if 'url' in df.columns:
        df.drop(columns='url', inplace=True)

In [8]:
dataframes = [circuits_df,constructors_df,drivers_df,lap_times_split_1_df,lap_times_split_2_df,
              lap_times_split_3_df,lap_times_split_4_df,lap_times_split_5_df,
              pit_stops_df,qualifying_split_1_df,qualifying_split_2_df,races_df,results_df]

In [9]:
def rename_id_columns(df):
    df.rename(columns=lambda x: x[:-2] + '_id' if x.endswith('Id') or x.endswith('ID') else x, inplace=True)

In [10]:
for df in dataframes:
    rename_id_columns(df)

In [11]:
def rename_ref_columns(df):
    df.rename(columns=lambda x: x[:-3] + '_ref' if x.endswith('Ref') else x, inplace=True)

In [12]:
for df in dataframes:
    rename_ref_columns(df)

In [13]:
column_mappings = {'lat':'latitude','lng':'longitude','alt':'altitude'}
dataframes = [circuits_df]

for df in dataframes:
    for current_col, new_col in column_mappings.items():
        if current_col in df.columns:
            df.rename(columns={current_col: new_col}, inplace=True)

In [14]:
column_mappings = {'lat':'latitude','lng':'longitude','alt':'altitude'}
dataframes = [circuits_df]

for df in dataframes:
    for current_col, new_col in column_mappings.items():
        if current_col in df.columns:
            df.rename(columns={current_col: new_col}, inplace=True)

In [15]:
lap_times_dfs = [lap_times_split_1_df, lap_times_split_2_df, lap_times_split_3_df, lap_times_split_4_df, lap_times_split_5_df]
new_columns = ['raceId', 'driverId', 'lap', 'position', 'time', 'milliseconds']
for df in lap_times_dfs:
    df.columns = new_columns

In [16]:
races_df.rename({'year':'race_year'},inplace=True,axis=1)

In [17]:
races_df.drop(['date','time'],inplace=True,axis=1)

In [19]:
drivers_df['full_name'] = drivers_df['name'].apply(lambda x:x['forename'] + ' ' + x['surname'])

In [20]:
drivers_df.drop(['name'],inplace=True,axis=1)

In [21]:
drivers_df = drivers_df[['driver_id','driver_ref','number','code','full_name','dob','nationality']]

In [22]:
results_df.rename(columns={
    'positionText': 'position_text',
    'positionOrder': 'position_order',
    'fastestLap': 'fastest_lap',
    'fastestLapTime': 'fastest_lap_time',
    'fastestLapSpeed': 'fastest_lap_speed'
}, inplace=True)

In [23]:
today_date = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
dataframes = [circuits_df,constructors_df,drivers_df,lap_times_split_1_df,lap_times_split_2_df,
              lap_times_split_3_df,lap_times_split_4_df,lap_times_split_5_df,
              pit_stops_df,qualifying_split_1_df,qualifying_split_2_df,races_df,results_df]

for df in dataframes:
    df['ingestion_date'] = today_date

In [24]:
data_source = input("Enter the data source (Testing or Development): ")
for df in dataframes:
    df['data_source'] = data_source

Enter the data source (Testing or Development):  Development

In [26]:
import pyarrow as pa
import pyarrow.parquet as pq