In [7]:
import pandas as pd

df=pd.read_excel('C:\\Users\\user\\Desktop\\aroha\\DW\\Ilearnonlinelogs_ETL1.xlsx','Ilearnonlinelogs')

ilearnonlinelogs=df[df['path'] != '/']

log_rejected=df[df['path'] == '/'].reset_index()
log_rejected.drop(columns='index',inplace=True)

course_log_unwanted=ilearnonlinelogs[ilearnonlinelogs['path'].str.count('/') <=3].reset_index()
course_log_unwanted.drop(columns='index',inplace=True)

ilearnonlinelogs=ilearnonlinelogs[ilearnonlinelogs['path'].str.count('/') >= 4].reset_index()
ilearnonlinelogs.drop(columns='index',inplace=True)

log_rejected.to_csv('log_rejected.txt',index=False)
course_log_unwanted.to_csv('course_log_unwanted.txt',index=False)

In [6]:
ilearnonlinelogs

,id,first_name,last_name,last_login,path,timestamp
0,119,Shruti,NaN,2018-02-09 12:37:00,/courses/oracle-sql/introduction-to-sql-oracle...,2017-10-06 09:09:00
1,119,Shruti,NaN,2018-02-09 12:37:00,/courses/informatica/rank-transforamtion-infor...,2017-10-06 09:09:00
2,119,Shruti,NaN,2018-02-09 12:37:00,/courses/oracle-sql/introduction-to-sql-oracle...,2017-10-10 07:03:00
3,119,Shruti,NaN,2018-02-09 12:37:00,/courses/informatica/introduction-to-informati...,2017-10-17 08:48:00
4,119,Shruti,NaN,2018-02-09 12:37:00,/courses/informatica/working-with-files-inform...,2017-10-17 08:48:00
...,...,...,...,...,...,...
1108,386,Swarup,S,2018-05-27 15:59:00,/courses/rdbms/primary-key-foreign-key-file-rd...,2018-05-27 16:14:00
1109,386,Swarup,S,2018-05-27 15:59:00,/courses/rdbms/ef-codds-rules-file/,2018-05-27 16:27:00
1110,386,Swarup,S,2018-05-27 15:59:00,/courses/rdbms/ef-codds-rules-file/,2018-05-27 16:27:00
1111,386,Swarup,S,2018-05-27 15:59:00,/courses/rdbms/what-is-a-transaction-file-rdbm...,2018-05-27 17:00:00
1112,386,Swarup,S,2018-05-27 15:59:00,/courses/rdbms/what-is-a-transaction-file-rdbm...,2018-05-27 17:00:00