In [33]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [34]:
df = pd.read_excel('market equipment data of HealthCare V1 - Copy.xlsx')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ptan                    1006 non-null   int64
 1   acceptsassignement      1006 non-null   bool
 2   participationbegindate  1006 non-null   datetime64[ns]
 3   businessname            1006 non-null   object
 4   practicename            1006 non-null   object
 5   practiceaddress1        1006 non-null   object
 6   practiceaddress2        253 non-null    object
 7   practicecity            1006 non-null   object
 8   practicestate           1006 non-null   object
 9   practicezip9code        1006 non-null   int64
 10  telephonenumber         1006 non-null   int64
 11  specialitieslist        996 non-null    object
 12  providertypelist        142 non-null    object
 13  supplieslist            1005 non-null   object
 14  latitude                1006 non-null   float64
 15  longitude               1006 non-null   float64
 16  is_contracted_for_cba   1006 non-null   bool
dtypes: bool(2), datetime64[ns](1), float64(2), int64(3), object(9)
memory usage: 120.0+ KB

In [36]:
df.isnull().sum()

ptan                        0
acceptsassignement          0
participationbegindate      0
businessname                0
practicename                0
practiceaddress1            0
practiceaddress2          753
practicecity                0
practicestate               0
practicezip9code            0
telephonenumber             0
specialitieslist           10
providertypelist          864
supplieslist                1
latitude                    0
longitude                   0
is_contracted_for_cba       0
dtype: int64

In [37]:
df.head(2)

,ptan,acceptsassignement,participationbegindate,businessname,practicename,practiceaddress1,practiceaddress2,practicecity,practicestate,practicezip9code,telephonenumber,specialitieslist,providertypelist,supplieslist,latitude,longitude,is_contracted_for_cba
0,339460094,False,2001-01-01,HANGER PROSTHETICS & ORTHOTICS EAST INC,HANGER CLINIC,308 E OAK ST,NaN,KISSIMMEE,FL,347444537,4078700111,MSC With Orthotic-Prosthetic|Orthotic Personnel,NaN,Neuromuscular Elect Stimulators (NMES)/Supplie...,28.30072,-81.40139,True
1,340220155,False,2001-01-01,HANGER PROSTHETICS & ORTHOTICS WEST INC,HANGER CLINIC,3303 N 75TH ST,NaN,SCOTTSDALE,AZ,852516402,4809451929,Orthotic Personnel|Prosthetic Personnel,NaN,Contracture Treatment Devices: Dynamic Splint|...,33.48631,-111.91947,True

In [38]:
df['supplieslist'] = df['supplieslist'].str.split('|')

In [39]:
df['supplieslist']

0       [Neuromuscular Elect Stimulators (NMES)/Suppli...
1       [Contracture Treatment Devices: Dynamic Splint...
2       [Orthoses: Custom Fabricated, Orthoses: Prefab...
3       [Neuromuscular Elect Stimulators (NMES)/Suppli...
4       [Neuromuscular Elect Stimulators (NMES)/Suppli...
                              ...
1001    [Epoetin, Immunosuppressive Drugs, Nebulizer D...
1002    [Epoetin, Immunosuppressive Drugs, Infusion Dr...
1003    [Automatic Ext Defibrillator (AEDS) and/or Sup...
1004    [Epoetin, Immunosuppressive Drugs, Infusion Dr...
1005    [Epoetin, Immunosuppressive Drugs, Infusion Dr...
Name: supplieslist, Length: 1006, dtype: object

In [40]:
new_supplies_list = []

for supplies in df['supplieslist']:
    if isinstance(supplies, list):
        for supply in supplies[1:]:
            new_supplies_list.append([supply])

new_df = pd.DataFrame({'supplieslist': new_supplies_list})
new_df

                                            supplieslist
0                          [Orthoses: Custom Fabricated]
1      [Orthoses: Prefabricated (Non-Custom Fabricated)]
2                              [Orthoses: Off-The-Shelf]
3                                      [Limb Prostheses]
4                           [Diabetic Shoes and Inserts]
...                                                  ...
10939  [Blood Glucose Monitors/Supplies (Non-Mail Ord...
10940     [Blood Glucose Monitors/Supplies (Mail Order)]
10941                                  [Ostomy Supplies]
10942                                [Enteral Nutrients]
10943                               [Surgical Dressings]

[10944 rows x 1 columns]

In [41]:
new_df

                                            supplieslist
0                          [Orthoses: Custom Fabricated]
1      [Orthoses: Prefabricated (Non-Custom Fabricated)]
2                              [Orthoses: Off-The-Shelf]
3                                      [Limb Prostheses]
4                           [Diabetic Shoes and Inserts]
...                                                  ...
10939  [Blood Glucose Monitors/Supplies (Non-Mail Ord...
10940     [Blood Glucose Monitors/Supplies (Mail Order)]
10941                                  [Ostomy Supplies]
10942                                [Enteral Nutrients]
10943                               [Surgical Dressings]

[10944 rows x 1 columns]

In [42]:
new_df = new_df.drop_duplicates()
new_df.reset_index(drop=True, inplace=True)

In [43]:
new_df

                                         supplieslist
0                       [Orthoses: Custom Fabricated]
1   [Orthoses: Prefabricated (Non-Custom Fabricated)]
2                           [Orthoses: Off-The-Shelf]
3                                   [Limb Prostheses]
4                        [Diabetic Shoes and Inserts]
..                                                ...
70   [Prosthetic Lenses: Prosthetics Cataract Lenses]
71    [Contracture Treatment Devices: Dynamic Splint]
72  [Automatic Ext Defibrillator (AEDS) and/or Sup...
73                                [Facial Prostheses]
74                                [Ocular Prostheses]

[75 rows x 1 columns]

In [44]:
new_df['supplieslist'] = new_df['supplieslist'].apply(lambda x: x[0])

In [45]:
new_df

                                         supplieslist
0                         Orthoses: Custom Fabricated
1     Orthoses: Prefabricated (Non-Custom Fabricated)
2                             Orthoses: Off-The-Shelf
3                                     Limb Prostheses
4                          Diabetic Shoes and Inserts
..                                                ...
70     Prosthetic Lenses: Prosthetics Cataract Lenses
71      Contracture Treatment Devices: Dynamic Splint
72  Automatic Ext Defibrillator (AEDS) and/or Supp...
73                                  Facial Prostheses
74                                  Ocular Prostheses

[75 rows x 1 columns]

In [15]:
new_df['equipment_id'] = range(1, len(new_df) + 1)

In [17]:
new_df.set_index('equipment_id',inplace=True)

In [28]:
new_df['equipment_code'] = new_df.index.astype(str)  + new_df['supplieslist'].str.split().apply(lambda x: ''.join([word[0] for word in x]))

In [29]:
new_df

                                                   supplieslist equipment_code
equipment_id
1                                   Orthoses: Custom Fabricated           1OCF
2               Orthoses: Prefabricated (Non-Custom Fabricated)          2OP(F
3                                       Orthoses: Off-The-Shelf            3OO
4                                               Limb Prostheses            4LP
5                                    Diabetic Shoes and Inserts          5DSaI
...                                                         ...            ...
71               Prosthetic Lenses: Prosthetics Cataract Lenses        71PLPCL
72                Contracture Treatment Devices: Dynamic Splint        72CTDDS
73            Automatic Ext Defibrillator (AEDS) and/or Supp...       73AED(aS
74                                            Facial Prostheses           74FP
75                                            Ocular Prostheses           75OP

[75 rows x 2 columns]

In [31]:
file_path = "Market equipment data xl.xlsx"
new_df.to_excel(file_path, index=False)