# List

In [5]:
#1)print index number and element in the list

a = [1,2,3,4,5]

print(a.index(2))
print(a)

1
[1, 2, 3, 4, 5]

In [13]:
# 2)print even indexed element in list

a = [1,2,3,4,5]
b = []

for i in a:
    if i%2==0:
        b.append(i)

print(b)

[2, 4]

In [18]:
#3)Print integers in a list
li = [1,'java',2.3,'5',5,'python']

for i in li:
    if isinstance(i,int):
        print(i)

1
5

In [20]:
#4)print only extension in list
li = ['gmail.com','yahoo.in','google.com']

for i in li:
    print(i.split(".")[-1])

com
in
com

In [24]:
#5)find the largest number in the list

a =[1,2,3,4,5]
print(max(a))

5

In [36]:
# 6)print char
# a) length char should be > 2
# b) first and last charcter should be same
# li = ['axa','amma','xyz','1221']
# op = 'axa' 'amma','1221'

li = ['axa','amma','xyz','1221']

if len(li)>2 :
    print(li)

['axa', 'amma', 'xyz', '1221']

In [40]:
for i in li:
    if i[0] == i[-1]:
        print(i)

axa
amma
1221

In [43]:
#7)Create a product list based on user input

prd = []

for i in range(1,3):
    a = input("Enter the prds")
    prd.append(a)
print(prd)

Enter the prds a
Enter the prds d

['a', 'd']

In [46]:
#8)Remove duplicate element available in list

li = ['axa','amma','xyz','1221','axa']
l = []
for i in li:
    if i not in l:
        l.append(i)

print(l)

['axa', 'amma', 'xyz', '1221']

In [53]:
#9)If list contains string reverse the string else keep as it is

li = ['ax','amm','xyz',1223,45]

l = []

for x in li:
    if isinstance(x,str):
        l.append(x[::-1])
    else:
        l.append(x)
print(l)

['xa', 'mma', 'zyx', 1223, 45]

In [61]:
#10)Print list in reverse order

li = ['axa','amma','xyz','1221']

li.reverse()
print(li)

['1221', 'xyz', 'amma', 'axa']

# Tuple

In [65]:
#1)Print sum of elements in tuple

a = (1,2,3,4,5)

print(sum(a))

15

In [66]:
#2)Print elements inside the tuple in reverse order

a = (1,2,3,4,5)
a[::-1]

(5, 4, 3, 2, 1)

In [68]:
#3)Print duplicate element in tuple

tup = (1, 2, 3, 2, 4, 5, 6, 3, 7, 8, 5)
seen = set()
dup = set()

for i in tup:
    if i in seen:
        dup.add(i)
    else:
        seen.add(i)
print(seen)
print(dup)

{1, 2, 3, 4, 5, 6, 7, 8}
{2, 3, 5}

In [69]:
#4)if num devisible by both 3 and 5 print that number

tu = (5,14,15,18,21,25) 

for i in tu:
    if i%3 == 0 and i % 5 == 0:
        print(i)

15

In [71]:
#5)Print Highest and lowerst number in tuple
tu = (5,14,15,18,21,25) 
max(tu)
min(tu)

5

In [74]:
#6)Print even indexed elements in the tuple
tu = (5,14,15,18,21,25) 

print(tu[::2])

(5, 15, 21)

In [75]:
#7)tuple1 = (50, 10, 60, 70, 50) find number of occurrence of 50

tuple1 = (50, 10, 60, 70, 50)

tuple1.count(50)

2

In [77]:
#8)print if the element is starting with vowel 
files = ("Amazon", "flipkart", "walmart", "gmail", "yahoo")

for i in files:
    if i[0] in "aeiouAEIOU":
        print(i)

Amazon

In [79]:
#9) print polindrome in tuple
tu = ("python", "dad", "hai", "malayalam", "madam", "mom")

for i in tu:
    if i == i[::-1]:
        print(i)

dad
malayalam
madam
mom

In [85]:
#10)Check if all items in the tuple are the same
tu = (33,33,33,33)

all_same = True

for i in tu:
    if i!= tu[0]:
        all_same = False
        break

print(all_same)

True

# Set

In [93]:
#1) Remove the element from the set 
st = {"python", "dad", "hai", "malayalam", "madam", "mom"}
st.remove("mom")
st

{'dad', 'hai', 'madam', 'malayalam', 'python'}

In [96]:
#2)Display non common element from 2 set
set_1 = {"python", "dad", "hai", "malayalam", "madam", "mom"}
set_2 = {"python", "dad", "hello","hai", "malayalam", "madam", "mom","c++"}

s = set_1.symmetric_difference(set_2)
s

{'c++', 'hello'}

In [98]:
#3)Remove duplicate customer details and display final customer details by considering 2 sets
set1 = {'Rama','Dinga','Seetha','Radha'}
set2 = {'Rama','swapna','Seetha','swathi'}

set1.union(set2)

{'Dinga', 'Radha', 'Rama', 'Seetha', 'swapna', 'swathi'}

In [100]:
#4)find common elements in three list using sets
num1 = [1, 5, 10, 20, 40, 80]
num2 = [6, 7, 20, 80, 100]
num3 = [3, 4, 15, 20, 30, 70, 80, 120]

set1 = set(num1)
set2 = set(num2)
set3 = set(num3)

set1.intersection(set2).intersection(set3)

{20, 80}

In [104]:
#5)Find minimum and maximum in value in set
set1 = {1, 5, 10, 20, 40, 80}
max(set1)
min(set1)

{1, 5, 10, 20, 40, 80}

In [105]:
#6)write a program to print strings in the set

my_set = {1, 'hello', 3.14, 'world', 42, 'python'}

for i in my_set:
    if isinstance(i,str):
        print(i)

world
python
hello

In [106]:
#7) print only if common elements are greater than 1

set1 = {'Rama','Dinga','Seetha','Radha'}
set2 = {'Rama','swapna','Seetha','swathi'}

ce = set1.intersection(set2)
if len(ce) > 1:
    print(ce)
else:
    print("less than 2 common elements.")

{'Rama', 'Seetha'}

In [107]:
# 8)Output : Missing values in list1 = {8, 7} 
#          Additional values in list1 = {1, 2, 3} 
#          Missing values in list2 = {1, 2, 3} 
#          Additional values in list2 = {7, 8} 

list1 = [1, 2, 3, 4, 5, 6]
list2 = [4, 5, 6, 7, 8]


set1 = set(list1)
set2 = set(list2)

missing_in_list1 = set2 - set1
additional_in_list1 = set1 - set2
missing_in_list2 = set1 - set2
additional_in_list2 = set2 - set1

print(f"Missing values in list1 = {missing_in_list1}")
print(f"Additional values in list1 = {additional_in_list1}")
print(f"Missing values in list2 = {missing_in_list2}")
print(f"Additional values in list2 = {additional_in_list2}")

Missing values in list1 = {8, 7}
Additional values in list1 = {1, 2, 3}
Missing values in list2 = {1, 2, 3}
Additional values in list2 = {8, 7}

In [108]:
#9)Python program to count number of vowels using sets in given string

vowels = {'a', 'e', 'i', 'o', 'u'}
cnt = 0
s = "Hello How are you"

for i in s.lower():
    if i in vowels:
        cnt = cnt+1
print(cnt)

7

In [111]:
#10)Python | Check if a given string is binary string or not
st1 = "0101010101010" 
st2 = '1200' 

s1 = set(st1)
s2 = set(st2)

s1.issubset({'0','1'})
s2.issubset({'0','1'})

False

# Dict

In [121]:
#1)Reverse the values in the dictionary if the value is of type string
d = {"a": "hello", "b": 100, "c": 10.2, "d": "world","e":'121'}
reversed_dict = {}
for key,values in d.items():
    if isinstance(values,str):
        reversed_dict[key] = values[::-1]
    else:
        reversed_dict[key] = values

print(reversed_dict)

{'a': 'olleh', 'b': 100, 'c': 10.2, 'd': 'dlrow', 'e': '121'}

In [122]:
#2)create a dictionary with duplicate items and its count pair 
names = ["apple", "google", "gmail", "yahoo", "gmail", "apple", "gmail", "google"]

count_dict = {}

for name in names:
    if name in count_dict:
        count_dict[name] = count_dict[name]+1
    else:
        count_dict[name] = 1

print(count_dict)

{'apple': 2, 'google': 2, 'gmail': 3, 'yahoo': 1}

In [124]:
#3)Flip key and value pair in a dictionary
d = {'apple': 2, 'google': 2, 'gmail': 3, 'yahoo': 1}
flipped_dict = {}

for key,values in d.items():
    if values in flipped_dict:
        flipped_dict[values].append(key)
    else:
        flipped_dict[values] = [key]

print(flipped_dict)

{2: ['apple', 'google'], 3: ['gmail'], 1: ['yahoo']}

In [127]:
# 4)Create a dictionary for the range 10 
# store n as key square of n as value

a = {n:n**2 for n in range(10)}
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [130]:
#5)Reveres the values in dictionary if type of value is string, if integer add 10,if float keep as it is 
d = {"a": "hello", "b": 100, "c": 10.2, "d": "world", "e": 50}
modified_dict = {}

for key,values in d.items():
    if isinstance(values,str):
        modified_dict[key] = values[::-1]
    elif isinstance(values,int):
        modified_dict[key] = values +10
    elif isinstance(values, float):
        modified_dict[key] = values
    else:
        modified_dict[key] = values
print(modified_dict)

{'a': 'olleh', 'b': 110, 'c': 10.2, 'd': 'dlrow', 'e': 60}

In [131]:
# 6)create a dictionary with duplicate word with count pair                                                                                                        
#   string = "python is a language python program is easy"
#    o/p = {'python':2,"is":2}

string = "python is a language python program is easy"


words = string.split()
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

duplicates = {word: count for word, count in word_count.items() if count > 1}

print(duplicates)

{'python': 2, 'is': 2}

In [134]:
#7) Create a dictionary by using two lists                                                                                                                                        
l2 = [1,2,3,4]
l1 = ['a','b','c','d']
d = {}

d = dict(zip(l1,l2))
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [136]:
#8)Write a Python program to print all unique values in a dictionary. 
li = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

uq_val = set()

for dic in li:
    for value in dic.values():
        uq_val.add(value)

unique_values_list = list(uq_val)

print(unique_values_list)

['S007', 'S009', 'S001', 'S002', 'S005']

In [140]:
#9)Find sum of all the values in a dictionary                                                                                                                              
Input  = {'a': 100, 'b':200, 'c':300}

su = 0
for key,value in Input.items():
    su = su + value

print(su)

600

In [142]:
#10)Input 5 students name and 5 students marks if they score 
# 1. score >= 90 : "A"
# 2. score >= 80 : "B"
# 3. score >= 70 : "C"
# 4. score >= 60 : "D"
# 4. score < 60 : "E"
# show it in dictionary
# EXAMPLE
# NAME = 'joy'
# MARKS = [85,55,78,66,75]
# D = {'joy':'B'.............}

grades_dict = {}

for _ in range(5):
    name = input("Enter the student's name: ")

    marks = list(map(int, input("Enter the student's marks separated by spaces: ").split()))
    average_score = sum(marks) / len(marks)
    if average_score >= 90:
        grade = "A"
    elif average_score >= 80:
        grade = "B"
    elif average_score >= 70:
        grade = "C"
    elif average_score >= 60:
        grade = "D"
    else:
        grade = "E"
    
    grades_dict[name] = grade
print(grades_dict)

Enter the student's name:  s
Enter the student's marks separated by spaces:  12
Enter the student's name:  w
Enter the student's marks separated by spaces:  23
Enter the student's name:  d
Enter the student's marks separated by spaces:  22
Enter the student's name:  f
Enter the student's marks separated by spaces:  44
Enter the student's name:  f
Enter the student's marks separated by spaces:  32

{'s': 'E', 'w': 'E', 'd': 'E', 'f': 'E'}