1) name = 'Harish Kumar'

   using for loop print the char of name one by one
   
   using for loop print the char of name one by one (using range)

In [10]:
name = 'Harish Kumar'

for i in name:
    print(i,end = " ")

H a r i s h   K u m a r

In [9]:
for i in range (len(name)):
    print(name[i],end =" ")

H a r i s h   K u m a r

2) do the same 1) using the while loop print all the char of name but in REVERSE

In [8]:
n = len(name)

for i in range(n-1,-1,-1):
    print(name[i],end=" ")

r a m u K   h s i r a H

3. data = 'all is well that begins and ends well'

process this and count how many vowels (a,e,i,o,u) are there 

use for loop to do

In [12]:
data = 'all is well that begins and ends well'
count = 0
for i in data:
    if i.lower() in 'aeiou':
        count = count+1
print('The number of vowels is',count)

The number of vowels is 9


4. data = "100010010001110011"

   use while loop like this...
   
   while True:
   
     xxxx
     xxx
     
  keep processing the data - as soon as the count of 0's reach 7 then break from the loop

In [17]:
data = "100010010001110011"
count = 0
index = 0
while index < len(data):
    if data[index] == '0':
        count += 1
    else:
        count = 0  
    print(data[index], end=' ')  
    index += 1
    if count == 7:
        break
print("\nbreaking from the loop.")

1 0 0 0 1 0 0 1 0 0 0 1 1 1 0 0 1 1
breaking from the loop.

5.

s1 = 'vinay'
s2 = 'ganesh'
s3 = 'kiran'
s4 = 'harish'
for i in s1,s2,s3,s4:
print(i)

In [24]:
s1 = 'vinay'
s2 = 'ganesh' 
s3 = 'kiran' 
s4 = 'harish'
for i in s1,s2,s3,s4: 
    print((f"{i} - length: {len(i)}"))

vinay - length: 5
ganesh - length: 6
kiran - length: 5
harish - length: 6

6 .

In [39]:
total = 0
count = 0
max_number = float('-inf')
min_number = float('inf')

while True:
    num = int(input("Enter a number (or -1 to stop): "))
    if num == -1:
        break
    total += num
    count += 1
    avg = total / count

    max_number = max(max_number, num)
    min_number = min(min_numnumber, num)
print(f"Sum: {total}")
print(f"Average: {avg}")
print(f"Max: {max_num}")
print(f"Min: {min_num}")

Enter a number (or -1 to stop): 45
Enter a number (or -1 to stop): 566
Enter a number (or -1 to stop): 33
Enter a number (or -1 to stop): 24
Enter a number (or -1 to stop): 53
Enter a number (or -1 to stop): -1
Sum: 721
Average: 144.2
Max: 566
Min: 24