In [62]:
d = ['anand','basith','aravindh','durai','deepak']

for i in d:
    print(i,i.upper(),i.lower(),i[0],i[len(i)-1])

anand ANAND anand a d
basith BASITH basith b h
aravindh ARAVINDH aravindh a h
durai DURAI durai d i
deepak DEEPAK deepak d k

In [63]:
sorted(d)

['anand', 'aravindh', 'basith', 'deepak', 'durai']

In [64]:
max(d)

'durai'

In [65]:
min(d)

'anand'

In [66]:


for i in lst1,lst2:
    print(i)

[10, 20, 30]
[99, 89, 79]

In [67]:

lst1 = [10,20,30]
lst2 = [99,89,79]
lst3 = ['ashis','surya','nithya','rishi']
lst4 = ['kish',67.5,'True',2023]

In [68]:
for i in lst1,lst2,lst3,lst4:
    print(i,type(i))

[10, 20, 30] <class 'list'>
[99, 89, 79] <class 'list'>
['ashis', 'surya', 'nithya', 'rishi'] <class 'list'>
['kish', 67.5, 'True', 2023] <class 'list'>

In [69]:
for i in lst1,lst2,lst3,lst4:
    for j in i:
        print(j,end = " ")

10 20 30 99 89 79 ashis surya nithya rishi kish 67.5 True 2023

In [70]:
for i in lst1,lst2,lst3,lst4:
    for j in i:
        if j!='surya' and j!= 89 and j!= True:
            print(j,end = ' ')
        print()

10
20
30
99

79
ashis

nithya
rishi
kish
67.5
True
2023

In [71]:
d

['anand', 'basith', 'aravindh', 'durai', 'deepak']

In [72]:
d.sort()

In [73]:
d

['anand', 'aravindh', 'basith', 'deepak', 'durai']

In [74]:
d.append('vikram')
d.append('ruben Daniel')
d.append('karthick Shah')

In [75]:
d.sort(reverse=True)

In [76]:
for i in d:
    print(i)

vikram
ruben Daniel
karthick Shah
durai
deepak
basith
aravindh
anand

In [77]:
d

['vikram',
 'ruben Daniel',
 'karthick Shah',
 'durai',
 'deepak',
 'basith',
 'aravindh',
 'anand']

In [78]:
name = input('enter a name to search in the lsit ')

enter a name to search in the lsit anand

In [79]:
if name in d:
    print(name,'exists')
else:
    print('no',name)

anand exists

In [80]:
d.pop() # removes from last

'anand'

In [81]:
how = len(d)

In [82]:
how

7

In [84]:
for j in range (0,how-1):
    print(j,d[j])

0 vikram
1 ruben Daniel
2 karthick Shah
3 durai
4 deepak
5 basith

In [87]:
d.remove('vikram')

In [88]:
d

['ruben Daniel', 'karthick Shah', 'durai', 'deepak', 'basith', 'aravindh']

In [89]:
d.pop(2)

'durai'

In [90]:
d

['ruben Daniel', 'karthick Shah', 'deepak', 'basith', 'aravindh']

In [91]:
# list can have another list

In [99]:
emp = [['e100','sri','it','dec',['c','c++','sql',['gh','hj','man']],['d','a','d']]]

In [100]:
emp

[['e100',
  'sri',
  'it',
  'dec',
  ['c', 'c++', 'sql', ['gh', 'hj', 'man']],
  ['d', 'a', 'd']]]

In [101]:
for i in emp:
    print(i)

['e100', 'sri', 'it', 'dec', ['c', 'c++', 'sql', ['gh', 'hj', 'man']], ['d', 'a', 'd']]

In [105]:
for i in emp:
    if type(i) == list:
        print('c')
        for j in i:
            print(j,end = ",")
        print()
            
    else:
        print(i)

c
e100,sri,it,dec,['c', 'c++', 'sql', ['gh', 'hj', 'man']],['d', 'a', 'd'],

In [106]:
for i in emp:
    for j in i:
        if type(j) == list:
            print('gh')
            for k in J:
                print('k',end = " ")
        else:
            print(j,end = "  ")
    print()

e100  sri  it  dec  gh

NameError: name 'J' is not defined