1) data1 = { 67,34,19,50,5,124,77,89,190,29,45}
   data2 = { 21,7,43,91,51,160,15,24,67,89,75,180,29,45,2,8}
   find the summed value after the union
   what is the avg of the unioned value?
   of the common elements between data1 and data2 ...find the
   highest and lowest

In [9]:
data1 = { 67,34,19,50,5,124,77,89,190,29,45}
data2 = { 21,7,43,91,51,160,15,24,67,89,75,180,29,45,2,8}

union_set = data1.union(data2)
sum_d = sum(union_set)

print(union_set)
print('Sum of give numbers ',sum_d)

{2, 67, 5, 7, 8, 75, 77, 15, 19, 21, 24, 89, 91, 29, 160, 34, 43, 45, 50, 51, 180, 124, 190}
Sum of give numbers  1406

In [11]:
avg_value = sum_d/len(union_set)

print(avg_value)

61.130434782608695

In [14]:
common_value = data1.intersection(data2)

print(common_value)
print('Max',max(union_set))
print('Min',min(union_set))

{89, 29, 67, 45}
Max 190
Min 2

use the qs 1) data1 and data2
   create data3 - add all the elements of data1 , data2 
   sort the data3 in DESC order - how many ele are there..
   delete/remove all the found elements of data1 in data2

In [19]:
data1 = { 67,34,19,50,5,124,77,89,190,29,45}
data2 = { 21,7,43,91,51,160,15,24,67,89,75,180,29,45,2,8}

data3 = data1.union(data2)

sorted_d3 = sorted(data3,reverse=True)

In [20]:
print(sorted_d3)

[190, 180, 160, 124, 91, 89, 77, 75, 67, 51, 50, 45, 43, 34, 29, 24, 21, 19, 15, 8, 7, 5, 2]

In [23]:
print('No of elements in sorted data3 - ' ,len(sorted_d3))

No of elements in sorted data3 -  23

In [24]:
data2 = data2-data1
data2

{2, 7, 8, 15, 21, 24, 43, 51, 75, 91, 160, 180}

In [25]:
print('After removed',data2)

After removed {160, 2, 7, 8, 75, 43, 15, 51, 180, 21, 24, 91}

set1 = { 23,4,(50,12,9),18,(5,2,-6,-19,27),-18,-50
(-3,15,-10),25 }
   sum all the positive numbers
   find the avg

In [32]:
set1 = { 23,4,(50,12,9),18,(5,2,-6,-19,27),-18,-50,(-3,15,-10),25 }

Positive_ = 0
count_pos = 0

for num in set1:
    if isinstance(num,(int,float)) and num >0:
        Positive_ = Positive_+num
        count_pos = count_pos+1
        
if count_pos >1:
    avg = Positive_/count_pos
    print("Sum of positive numbers:", Positive_)
    print("Average of positive numbers:", avg)
    
else:
    print("No positive numbers found in the set.")

Sum of positive numbers: 70
Average of positive numbers: 17.5

In [36]:
sum_tup = 0

highest = float('-inf')
lowest = float('inf')

for element in set1:
    if isinstance(element,tuple):
        for num in element:
            if isinstance(num, (int, float)):
                sum_tup = sum_tup+num
                highest = max(highest,num)
                lowest = min(lowest,num)
        
        
print("Sum of numbers in tuples:", sum_tup)
print("Highest value in tuples:", highest)
print("Lowest value in tuples:", lowest)

Sum of numbers in tuples: 82
Highest value in tuples: 50
Lowest value in tuples: -19

Sum of numbers in tuples: 82
Highest value in tuples: 50
Lowest value in tuples: -19

this is little challenging...
   we wish to delete the negitive numbers in the set1
   how it can be done ?
   final o/p will be (all -ive removed)
   set1 = { 23,4,(50,12,9),18,(5,2,27),(15),25 }

In [ ]:
for element in set1:
    if isinstance(element,tuple):
        for num in element:
            if isinstance(num, (int, float)):
                if num <0:
                    nu

In [48]:
for element in set1.copy():
    if isinstance(element, (int, float)) and element < 0:
        set1.discard(element)
    elif isinstance(element, tuple):
        set1.remove(element)
        set1.add(tuple(num for num in element if num >= 0))

print("set after removing negative numbers:")
print(set1)

Final set after removing negative numbers:
{4, (15,), (50, 12, 9), (5, 2, 27), 18, 23, 25}

Given... (if you wish you could add more items to item dict
   like how i have done...)

             Id      name   price qty
              |       |       |   |
   item = { 100 : ['Laptop',56500, 5], 
            201: ['Mobile',23500,10],
            400 : ['charger',2500, 4], 
            221: ['Earpods',4500,8] }
   process the dict in such a way we display the o/p as 
   100  Laptop 56500
   200  Mobile 23500
   ..   ...    ...

In [82]:
item = {
    100: ['Laptop', 56500, 5],
    201: ['Mobile', 23500, 10],
    221: ['charger', 2500, 4],
    400: ['Earpods', 4500, 8]
}

In [83]:
item = {
    100: ['Laptop', 56500, 5],
    201: ['Mobile', 23500, 10],
    221: ['charger', 2500, 4],
    400: ['Earpods', 4500, 8],
    401:['pendrive',55000,10],
    405:['mosue',26000,30]
}

print("Id\tName\tPrice\tqty")
print("------------------------------------------------")

for item_id, details in item.items():
    name, price,qty = details  
    print(f"{item_id}\t{name}\t{price}\t{qty}")

Id	Name	Price	qty
------------------------------------------------
100	Laptop	56500	5
201	Mobile	23500	10
221	charger	2500	4
400	Earpods	4500	8
401	pendrive	55000	10
405	mosue	26000	30

In [84]:
print("name    item cost (stock value)")
for details in item.values():
    name, price, qty = details
    stock_value = price * qty
    print(f"{name}  {stock_value}")

name    item cost (stock value)
Laptop  282500
Mobile  235000
charger  10000
Earpods  36000
pendrive  550000
mosue  780000

In [85]:
item_1 = {}
for id,details in list(item.items()):
    qty = details[2]
    if qty < 6:
        item_1[id] = details
        del item[id]

        
print(item)

print()
print('Item_1')
print(item_1)

{201: ['Mobile', 23500, 10], 400: ['Earpods', 4500, 8], 401: ['pendrive', 55000, 10], 405: ['mosue', 26000, 30]}

Item_1
{100: ['Laptop', 56500, 5], 221: ['charger', 2500, 4]}